# Karpov_courses

### –ó–∞–¥–∞–Ω–∏—è –∫ Lessons 2

1. –†–∞–±–æ—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –Ω–∞ —Ç–∞–∫—Å–∏ –≤ –ù—å—é-–ô–æ—Ä–∫–µ, –≤ –∫–æ—Ç–æ—Ä—ã—Ö —Ç–∞–∫–∂–µ –∏–º–µ–µ—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø–æ–≥–æ–¥–Ω—ã—Ö —É—Å–ª–æ–≤–∏—è—Ö –∏ –≤—ã—Ö–æ–¥–Ω—ã—Ö –¥–Ω—è—Ö.

Metadata "2_taxi_nyc":

- pickup_dt ‚Äì –ø–µ—Ä–∏–æ–¥ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ —á–∞—Å–∞
- pickup_month ‚Äì –º–µ—Å—è—Ü
- borough ‚Äì —Ä–∞–π–æ–Ω –ù—å—é-–ô–æ—Ä–∫–∞, –∏–∑ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—ã–ª —Å–¥–µ–ª–∞–Ω –∑–∞–∫–∞–∑ (5 —Ä–∞–π–æ–Ω–æ–≤ + –∞—ç—Ä–æ–ø–æ—Ä—Ç)
- pickups ‚Äì —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä–∏–æ–¥ (—á–∞—Å)
- hday ‚Äì —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã–º/–≤—ã—Ö–æ–¥–Ω—ã–º; Y ‚Äì –¥–∞, N ‚Äì –Ω–µ—Ç
- spd ‚Äì —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞ –≤ –º–∏–ª—è—Ö –≤ —á–∞—Å
- vsb ‚Äì –≤–∏–¥–∏–º–æ—Å—Ç—å
- temp ‚Äì —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞
- dewp ‚Äì —Ç–æ—á–∫–∞ —Ä–æ—Å—ã –ø–æ –§–∞—Ä–µ–Ω–≥–µ–π—Ç—É
- slp ‚Äì –¥–∞–≤–ª–µ–Ω–∏–µ
- pcp_01 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ —á–∞—Å
- pcp_06 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 6 —á–∞—Å–æ–≤
- pcp_24 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 24 —á–∞—Å–∞
- sd ‚Äì –≥–ª—É–±–∏–Ω–∞ —Å–Ω–µ–≥–∞ –≤ –¥—é–π–º–∞—Ö

In [2]:
import pandas as pd

In [6]:
taxi = pd.read_csv(r'D:\COURSES\–ê–Ω–∞—Ç–æ–ª–∏–π –ö–∞—Ä–ø–æ–≤\–¢–≤–æ–π –ø—É—Ç—å –≤ –º–∏—Ä Data Analytics. –ß–∞—Å—Ç—å 1 (2020)\2\–ó–∞–¥–∞–Ω–∏—è\2_taxi_nyc.csv')

In [7]:
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [9]:
taxi.shape # –∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤

(29101, 14)

In [16]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [19]:
# –∑–∞–º–µ–Ω–∏–ª–∏ –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ —Å –ø—Ä–æ–±–µ–ª–æ–º –Ω–∞ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏–µ
taxi = taxi.rename(columns= {'pcp 01':'pcp_01',
                            'pcp 06':'pcp_06',
                            'pcp 24':'pcp_24'})

–í–æ–ø—Ä–æ—Å: —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤ –¥–∞–Ω–Ω—ã—Ö –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —Ä–∞–π–æ–Ω –ë—Ä—É–∫–ª–∏–Ω (Brooklyn)?

In [27]:
taxi.query("borough == 'Brooklyn'").value_counts(dropna=False)

pickup_dt            pickup_month  borough   pickups  hday  spd   vsb    temp  dewp  slp     pcp_01  pcp_06  pcp_24  sd
2015-01-01 01:00:00  Jan           Brooklyn  1519     Y     5.0   10.00  30.0  7.0   1023.5  0.0     0.0     0.0     0.000000     1
2015-05-01 22:00:00  May           Brooklyn  1129     N     5.0   10.00  54.0  39.0  1014.0  0.0     0.0     0.0     0.000000     1
2015-05-01 08:00:00  May           Brooklyn  647      N     5.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 09:00:00  May           Brooklyn  704      N     7.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 10:00:00  May           Brooklyn  601      N     7.0   10.00  49.0  39.0  1013.7  0.0     0.0     0.0     0.000000     1
                                                                                                                                 ..
2015-03-02 14:00:00  Mar           Brooklyn  263      N     5.0   6.00   34.0  25.0  1019.4  0.0     0.0     0.0     11.875000    1
2015-03-02 15:00:00  Mar           Brooklyn  274      N     9.5   8.05   34.0  20.5  1020.0  0.0     0.0     0.0     12.083333    1
2015-03-02 16:00:00  Mar           Brooklyn  299      N     15.0  9.55   34.0  17.5  1021.1  0.0     0.0     0.0     12.291667    1
2015-03-02 17:00:00  Mar           Brooklyn  337      N     11.0  10.00  36.0  13.0  1020.9  0.0     0.0     0.0     12.500000    1
2015-06-30 23:00:00  Jun           Brooklyn  990      N     7.0   10.00  75.0  65.0  1011.8  0.0     0.0     0.0     0.000000     1
Length: 4343, dtype: int64

–∑–∞–¥–∞—á–∞: –≤—ã—è—Å–Ω–∏—Ç—å, –∏–∑ –∫–∞–∫–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –±—ã–ª–æ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥.

–î–ª—è –Ω–∞—á–∞–ª–∞ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–µ–∑–¥–æ–∫ (pickups) –±–µ–∑ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏.

In [36]:
taxi.agg({'pickups': 'sum'})

pickups    14265773
dtype: int64

In [58]:
max_profit_borough = taxi.groupby('borough')\
                    .agg({'pickups': 'sum'})\
                    .sort_values('pickups', ascending=False)
max_profit_borough

                pickups
borough
Manhattan      10367841
Brooklyn        2321035
Queens          1343528
Bronx            220047
Staten Island      6957
EWR                 105

In [57]:
max_profit_borough.idxmax()

pickups    Manhattan
dtype: object



‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è

–ï—â—ë –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–∑–Ω—ã—Ö –º–µ—Ç–æ–¥–æ–≤ –≤ pandas! –í–æ–∑–º–æ–∂–Ω–æ, –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —Å—Ç–µ–ø–µ –≤—ã –ø—Ä–æ—Å—Ç–æ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –∏–ª–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è. –£—Å–∫–æ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–π –ø—Ä–æ—Ü–µ—Å—Å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –ø–æ–º–æ–≥—É—Ç –º–µ—Ç–æ–¥—ã idxmin() –∏ idxmax(), –∫–æ—Ç–æ—Ä—ã–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∏–Ω–¥–µ–∫—Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∏–ª–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è.

idxmin() ‚Äì –∏–Ω–¥–µ–∫—Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è

idxmax() ‚Äì –∏–Ω–¥–µ–∫—Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–π–æ–Ω–∞ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º —á–∏—Å–ª–æ–º –ø–æ–µ–∑–¥–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é min_pickups, –ø—Ä–∏–º–µ–Ω–∏–≤ –ø–æ–¥—Ö–æ–¥—è—â–∏–π –º–µ—Ç–æ–¥.

In [61]:
min_pickups = taxi.groupby('borough')\
                .agg({'pickups': 'sum'})\
                .idxmin()
min_pickups

pickups    EWR
dtype: object

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –≤ –≤—ã—Ö–æ–¥–Ω—ã–µ –¥–Ω–∏. 

–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–≤—É–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º: —Ä–∞–π–æ–Ω—É –≥–æ—Ä–æ–¥–∞ –∏ —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –≤—ã—Ö–æ–¥–Ω—ã–º (–∫–æ–ª–æ–Ω–∫–∏ borough –∏ hday). 

–°—Ä–∞–≤–Ω–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫, –∏ –≤—ã–±–µ—Ä–∏—Ç–µ —Ä–∞–π–æ–Ω—ã, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞–º –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ—Å—Ç—É–ø–∞–µ—Ç –±–æ–ª—å—à–µ –∑–∞–∫–∞–∑–æ–≤, —á–µ–º –≤ –æ–±—ã—á–Ω—ã–µ –¥–Ω–∏.

In [126]:
max_hday_borough = taxi.groupby(['borough','hday'])\
                    .agg({'pickups' :'mean'})\
                    .sort_values('pickups', ascending=False)
max_hday_borough
# –æ—Ç–≤–µ—Ç - —Ä–∞–π–æ–Ω Queens –∏ EWR –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ –≤—ã—Ö–¥–Ω—ã–º –ø–æ–∫—É–ø–∞—é—Ç –±–æ–ª—å—à–µ

                        pickups
borough       hday
Manhattan     N     2401.302921
              Y     2035.928144
Brooklyn      N      534.727969
              Y      527.011976
Queens        Y      320.730539
              N      308.899904
Bronx         N       50.771073
              Y       48.065868
Staten Island N        1.606082
              Y        1.497006
EWR           Y        0.041916
              N        0.023467

–î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –ø–æ –º–µ—Å—è—Ü–∞–º. 

–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ pickups_by_mon_bor.

–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –∏—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –¥–æ–ª–∂–µ–Ω —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ 3-—Ö –∫–æ–ª–æ–Ω–æ–∫: pickup_month, borough, pickups.

In [127]:
pickups_by_mon_bor = taxi.groupby(['borough','pickup_month'],as_index=False)\
                    .agg({'pickups':'sum'})\
                    .sort_values('pickups', ascending=False)
pickups_by_mon_bor

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

In [128]:
pickups_by_mon_bor.shape

(36, 3)

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

–¢–µ–ø–µ—Ä—å –∑–∞–¥–∞—á–∞ –ø–æ—Å–ª–æ–∂–Ω–µ–µ! –ü–æ–ø—Ä–∞–∫—Ç–∏–∫—É–µ–º—Å—è –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–∏ –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É. –ü–æ—Å–∫–æ–ª—å–∫—É –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –≤ –ù—å—é-–ô–æ—Ä–∫–µ, —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞. 

–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é temp_to_celcius, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–ª—É—á–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –∫–æ–ª–æ–Ω–∫—É —Å —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–æ–π –≤ ¬∞F –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è, –ø–µ—Ä–µ–≤–µ–¥—ë–Ω–Ω—ã–µ –≤ –≥—Ä–∞–¥—É—Å—ã –¶–µ–ª—å—Å–∏—è.

–§–æ—Ä–º—É–ª–∞:

 
ùê∂
ùëí
ùëô
ùë†
ùëñ
ùë¢
ùë†
=
(
ùêπ
ùëé
‚Ñé
ùëü
ùëí
ùëõ
‚Ñé
ùëí
ùëñ
ùë°
‚àí
32
)
‚ãÖ
5.0/
9.0

‚Äã
 

–ü—Ä–∏–º–µ—Ä —Ä–∞–±–æ—Ç—ã:

> taxi['temp'][:5]

0    30.0

1    30.0

3    30.0

4    30.0

5    30.0
> taxi['temp_C'] = temp_to_celcius(taxi['temp'])
> taxi['temp_C'][:5]

0   -1.111111

1   -1.111111

3   -1.111111

4   -1.111111

5   -1.111111

In [130]:
taxi['temp'][:5]

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
Name: temp, dtype: float64

In [145]:
def temp_to_celcius(temp):
     return (temp-32)*5/9

In [146]:
temp_to_celcius(451)

232.77777777777777

In [147]:
temp_to_celcius(taxi.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64