# Lesson_5_ex
### Exercise. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏ —Ä–∞–∑–≤–µ–¥—ã–≤–∞—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑

### METADATA:
    –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö –≤ –ø–µ—Ä–∏–æ–¥ —Å 01.12.2010 –ø–æ 12.09.2011:
   
            InvoiceNo ‚Äì –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏
            StockCode ‚Äì –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞
            Description ‚Äì –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞
            Quantity ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑
            InvoiceDate ‚Äì –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 
            UnitPrice ‚Äì —Ü–µ–Ω–∞ –∑–∞ –µ–¥–∏–Ω–∏—Ü—É —Ç–æ–≤–∞—Ä–∞
            CustomerID ‚Äì id –∫–ª–∏–µ–Ω—Ç–∞
            Country ‚Äì —Å—Ç—Ä–∞–Ω–∞, –≥–¥–µ –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### Ex_1:
1) –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ data.csv.zip (–≤ –ø–∞–ø–∫–µ) —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.

In [3]:
path = 'C://Users/user/Karpov_courses/Lessons/Lesson_5/data.csv.zip'
retail = pd.read_csv(path, compression= 'zip', encoding= 'ISO-8859-1')   #compression= 'zip' - Default
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [31]:
retail_columns = list(retail.columns)
retail_columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']

### Ex_2:
2) –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –Ω–∞–±–ª—é–¥–µ–Ω–∏—è, –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –ï—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö –∏–∑ retail.

In [9]:
sum(retail.duplicated())
print("–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: ", nrows)
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —Å—á–∏—Ç–∞–µ—Ç –∏ sum(retail.duplicated())

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤:  5268

In [5]:
nrows_original = retail.shape[0]
nrows_original

541909

In [6]:
retail.drop_duplicates(inplace=True)
nrows_unique = retail.shape[0]
nrows_unique

536641

In [8]:
nrows = nrows_original - nrows_unique 
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–¥–∞–ª–µ–Ω–Ω—ã—Ö –∏–∑ DF –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {nrows} —à—Ç.")

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–¥–∞–ª–µ–Ω–Ω—ã—Ö –∏–∑ DF –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 5268 —à—Ç.

### Ex_3:
3) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
           
–î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –∏ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled)
 
–°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏?

In [10]:
retail\
    .InvoiceNo\
    .str.startswith('C').sum()    
# str.startswith('C').sum() - —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è –ª–∏ –∑–Ω–∞—á–µ–Ω–∏–µ —Å —É–∫–∞–∑–∞–Ω–Ω–æ–≥–æ —Å–∏–º–≤–æ–ª–∞, –∞ —Å—É–º–º–∞ –ø–æ–¥—Å—á–∏—Ç–∞–ª–∞ –∏—Ö –∫–æ–ª-–≤–æ

9251

### Ex_4:
4) –¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫

In [11]:
retail = retail[ retail.Quantity > 0]

print ('''–ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ DF –ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –ø–æ Quantity > 0:
{} —Å—Ç—Ä–æ–∫(–∏).'''.format(retail[ retail.Quantity > 0].shape[0]))

–ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ DF –ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –ø–æ Quantity > 0:
526054 —Å—Ç—Ä–æ–∫(–∏).

### Ex_5:5) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
   
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany).

     –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å.
     –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id).
     –ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo.
     –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [16]:
german_buyers = retail\
                    [retail.Country == 'Germany']\
                    .groupby('CustomerID', as_index = False)\
                    .agg({'InvoiceNo': pd.Series.nunique})\
                    .rename(columns={'InvoiceNo':'count_orders'})
german_buyers

    CustomerID  count_orders
0      12426.0             1
1      12427.0             3
2      12468.0             2
3      12471.0            30
4      12472.0             7
..         ...           ...
89     13814.0             2
90     13815.0             4
91     13816.0             2
92     13817.0             2
93     14335.0             2

[94 rows x 2 columns]

In [17]:
german_buyers.InvoiceNo.sort_values().iloc[german_buyers.shape[0] // 2]
# –Ω–∞—Ö–æ–∂–¥–µ–Ω–∏–µ –º–µ–¥–∏–∞–Ω—ã: –º–µ–¥–∏–∞–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–∫–∞–∑–æ–≤ —Å—Ä–µ–¥–∏ –ø–æ–∫—É–ø–∞—Ç–µ–ª–µ–π = 3 –∑–∞–∫–∞–∑–∞ (50 –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å)

In [18]:
percentile_80_German_buyers = german_buyers.count_orders.quantile(q = 0.8)
# 80 –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–∫—É–ø–æ–∫ –ø–æ–∫—É–ø–∞—Ç–µ–ª–µ–π –∏–∑ –≥–µ—Ä–º–∞–Ω–∏–∏

In [19]:
germany_top = german_buyers[german_buyers.count_orders > percentile_80_German_buyers].CustomerID.reset_index(drop = True)
germany_top

0     12471.0
1     12474.0
2     12476.0
3     12481.0
4     12500.0
5     12524.0
6     12569.0
7     12600.0
8     12619.0
9     12621.0
10    12626.0
11    12647.0
12    12662.0
13    12705.0
14    12708.0
15    12709.0
16    12712.0
17    12720.0
Name: CustomerID, dtype: float64

### Ex_6:6) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
   
–ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germany_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º. –†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany

In [20]:
germany_top_list = list(germany_top)
germany_top_list

[12471.0,
 12474.0,
 12476.0,
 12481.0,
 12500.0,
 12524.0,
 12569.0,
 12600.0,
 12619.0,
 12621.0,
 12626.0,
 12647.0,
 12662.0,
 12705.0,
 12708.0,
 12709.0,
 12712.0,
 12720.0]

In [21]:
top_retail_germany = retail\
                        .query('CustomerID in @germany_top_list')
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

### Ex_7:
7) –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode). –ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST? 
        
Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.
y

In [32]:
# –í–∞—Ä–∏–∞–Ω—Ç 1
top_products_by_orders = top_retail_germany.StockCode.value_counts()
top_products_by_orders

StockCode
POST     213
22326     52
22328     38
22423     34
20719     30
        ...
21564      1
22584      1
22561      1
21497      1
23562      1
Name: count, Length: 1158, dtype: int64

In [33]:
# –í–∞—Ä–∏–∞–Ω—Ç 2
top_products_by_orders = top_retail_germany\
                            .groupby('StockCode', as_index = False)\
                            .agg({'InvoiceNo':'count'})\
                            .rename(columns = {'InvoiceNo':'count_orders'})\
                            .query(' StockCode != "POST" ')\
                            .sort_values('count_orders', ascending= False)
top_products_by_orders

    StockCode  count_orders
409     22326            52
411     22328            38
453     22423            34
45      20719            30
709     22961            28
..        ...           ...
350     22168             1
769     23104             1
768     23102             1
354     22174             1
0       10125             1

[1157 rows x 2 columns]

In [23]:
top_count_products = top_retail_germany\
                                .groupby('StockCode')\
                                .agg({'InvoiceNo':'count'})\
                                .rename(columns = {'InvoiceNo':'count_orders'})\
                                .query(' StockCode != "POST" ')\
                                .sort_values('count_orders', ascending= False)\
                                .count_orders.reset_index(drop=True)\
                                .max()
top_count_products
# –º–∞–∫—Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤ –æ–¥–Ω–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ - –≤—ã–≤–æ–¥–∏–º –∫–∞–∫ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é, —á—Ç–æ–±—ã –≤ –±—É–¥—É—â–µ–º –≤—ã–≤–æ–¥–∏—Ç—å –±–æ–ª–µ–µ –æ–¥–Ω–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ —Å —Ç–∞–∫–∏–º –∫–æ–ª-–≤–æ–º –∑–∞–∫–∞–∑–æ–≤

52

In [24]:
top_products_name = top_products_by_orders\
                                .query('count_orders == @top_count_products ')
top_products_name = list(top_products_name.StockCode)
top_products_name
# —Å–ø–∏—Å–æ–∫ –∏–∑ —Ç–æ–ø-–ø—Ä–æ–¥—É–∫—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∫—É–ø–∞–ª–∏—Å—å –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ

['22326']

### Ex_8:
    8) –í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail. 
    –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.

In [25]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [26]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice
retail.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,25.50
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,54.08

In [36]:
# –í–∞—Ä–∏–∞–Ω—Ç 2
# —Å–æ–∑–¥–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ –º–µ—Ç–æ–¥–æ–º assign, —Ç.–µ. –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –∫–æ–ª–æ–Ω–∫–∏ —Å—Ä–∞–∑—É –≤ –±–ª–æ–∫–µ –∫–æ–¥–∞
retail = retail.assign(
                Revenue = retail.UnitPrice * retail.Quantity
)
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

### Ex_9:
  9) –î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞.

         –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)

In [45]:
top_5_InvoiceNo_by_TotalRevenue = retail\
                                    .groupby('InvoiceNo', as_index = False)\
                                    .agg({'Revenue':'sum'})\
                                    .rename(columns = {'Revenue':'TotalRevenue'})\
                                    .sort_values('TotalRevenue', ascending= False)[:5]\
                                    .reset_index(drop = True)\
                                    .InvoiceNo
top_5_InvoiceNo_by_TotalRevenue

0    581483
1    541431
2    574941
3    576365
4    556444
Name: InvoiceNo, dtype: object

In [28]:
n_1 = str(*top_5_InvoiceNo_by_TotalRevenue[0])
n_2 = str(*top_5_InvoiceNo_by_TotalRevenue[1])
n_3 = str(*top_5_InvoiceNo_by_TotalRevenue[2])
n_4 = str(*top_5_InvoiceNo_by_TotalRevenue[3])
n_5 = str(*top_5_InvoiceNo_by_TotalRevenue[4])

In [49]:
print('''–¢–æ–ø-5 InvoiceNo –ø–æ –æ–±—â–µ–π —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂:
{}.'''.format(str(n_1 + ', '+ n_2 + ', ' + n_3 + ', ' + n_4 + ', ' + n_5) )
     )

–¢–æ–ø-5 InvoiceNo –ø–æ –æ–±—â–µ–π —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂:
581483, 541431, 574941, 576365, 556444.

In [50]:
# –í–∞—Ä–∏–∞–Ω—Ç 2 

sorted_revenues = retail\
        .groupby('InvoiceNo', as_index = False)\
        .agg({'Revenue':'sum'})\
        .rename(columns = {'Revenue':'TotalRevenue'})\
        .sort_values('TotalRevenue', ascending= False)[:5]
sorted_revenues

      InvoiceNo  TotalRevenue
20689    581483     168469.60
2202     541431      77183.60
17582    574941      52940.94
18251    576365      50653.91
9034     556444      38970.00

In [51]:
sorted_revenues.InvoiceNo.str.cat(sep = ', ')
# –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑ DF –≤ —Å—Ç—Ä–æ–∫—É —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é

'581483, 541431, 574941, 576365, 556444'

In [48]:
print('''–¢–æ–ø-5 InvoiceNo –ø–æ –æ–±—â–µ–π —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂:
{}.'''.format(sorted_revenues.InvoiceNo.str.cat(sep = ', ')))

–¢–æ–ø-5 InvoiceNo –ø–æ –æ–±—â–µ–π —Å—É–º–º–µ –ø—Ä–æ–¥–∞–∂:
581483, 541431, 574941, 576365, 556444.