#  Karpov_courses. 
## Lesson I

In [ ]:
analyst = 'Nik'

In [18]:
years = 1

In [20]:
has_job = False

In [24]:
analyst_2 = 'Olga'

In [22]:
years_2 = 2

In [25]:
has_job_2 = True

In [56]:
analysts = ['Nik', 'Olga', 'Beslan', 'Chepushilo']

In [61]:
years = [1, 2, 4, 0.1]

In [40]:
analysts[0]

'Captain Nik'

In [41]:
years[2]

4

In [64]:
len(analysts)      # длина списка (число элементов) #

5

In [60]:
if len(analysts) <=3 or len(analysts) <3:
    print('В нашей базе менее 3х аналитиков, бро')
else: 
    print ('Мля, я заточен на подсчет до трёх челов, бро, а тут их у тебя уже хуева гора - сам разъебывайся, я хз).')

Мля, я заточен на подсчет до трёх челов, бро, а тут их у тебя уже хуева гора - сам разъебывайся, я хз).

In [65]:
analysts.append('Michael')   # добавить элемент в список #

In [67]:
analysts.pop(3)  # выведение в аутпут 4-ого элемента, с его ВЫРЕЗАНИЕМ из списка#

'Michael'

In [69]:
analysts

['Captain Nik', 'Olga', 'Beslan', 'Michael']

In [9]:
has_job = False

In [18]:
if has_job == True:
    happy_message = 'Captain Nik is so happy)!'
    print(happy_message)
else:
    sad_message = "Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)"
    print(sad_message)

Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)

In [20]:
if has_job:
    happy_message = 'Captain Nik is so happy)!'
    print(happy_message)
else:
    sad_message = "Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)"
    print(sad_message)

Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)

In [21]:
if has_job:
    message = 'Captain Nik is so happy)!'
else:
    message = "Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)"
print(message)

Captain Nik is in serch of his new big job, just train and wait, bro, it's will be fine)

In [23]:
if has_job:         # без else #
    message = 'Captain Nik is so happy)!'
    print(message)

Задача:
есть аналитики, нужно расписать их премирование исходя из опыта работы(k):

In [34]:
job_years = 0.5

In [32]:
salary = 2500

In [35]:
if job_years < 1:
    print('Not addition money')
    new_salary = salary + salary*0 
elif job_years >=1 and job_years <=2:
    print('0.2 addition')
    new_salary = salary + salary*0.2
else: 
    print('0.4 addition')
    new_salary = salary + salary*0.4
print(new_salary)

Not addition money
2500

In [67]:
job_years = 0
salary = 2500
#Ниже вариант докрученый вариант - с типовым сообщением с местами под вставки#

In [144]:
message = 'Addition is equel {coef}. New salary is {new_salary}'

In [145]:
if job_years < 1:
    coefficient = 0
elif job_years >=1 and job_years <=2:
    coefficient = 0.2
else: 
    coefficient = 0.4
new_salary = salary + salary*coefficient
print(message.format(coef = coefficient, new_salary = new_salary))

Addition is equel 0. New salary is 2500

In [68]:
analysts = ['Captain Nik', 'Olga', 'Beslan']

In [69]:
for i in analysts: 
    print(i)

Captain Nik
Olga
Beslan

In [70]:
for i in analysts: 
    print('Analyst name is {}.'.format(i))

Analyst name is Captain Nik.
Analyst name is Olga.
Analyst name is Beslan.

In [72]:
for i in analysts:
    if i == 'Captain Nik':
        print('Analyst name is {}.'.format(i))

Analyst name is Captain Nik.

In [73]:
analysts_data = {'Captain Nik': 1, 'Olga': 3, 'Beslan': 4 }

In [77]:
analysts_data['Olga']

3

In [78]:
analysts_data['Michael'] = 10

In [79]:
print(analysts_data)

{'Captain Nik': 1, 'Olga': 3, 'Beslan': 4, 'Michael': 10}

In [80]:
analysts_data = {'Captain Nik': [1, 2500], 'Olga': [3, 4500], 'Beslan': [4, 5000] }

In [82]:
analysts_data['Olga']

[3, 4500]

In [85]:
for i in analysts_data:
    print(i, analysts_data[i])

Captain Nik [1, 2500]
Olga [3, 4500]
Beslan [4, 5000]

In [94]:
for i in analysts_data:
    if analysts_data[i][0] >= 3:      # обратились к списку внутри имени, к нулевому (первому значению списка)
        print(i)

Olga
Beslan

In [95]:
for i in analysts_data:
    if analysts_data[i][1] >= 5000:
        print(i)

Beslan

  # Задачки к I лекции
    
1) сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [114]:
age = 27
name = 'Mik'
print('Captain {},'.format(name), 'age is {}.'.format(age) )

Captain Mik, age is 27.

2) Создайте список user_info, содержащий 4 элемента - имя, фамилия пользователя, 
1 дробное число (зарплата) и 1 целое число (стаж)

In [122]:
user_info = ['Mik', 'Kopot', 2500.0, 1]
user_info[1]

'Kopot'

3) Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

In [125]:
salaries = [2500.0, 2850.0, 3400.0]
first = salaries[0]
print(first)

2500.0

4) Добавьте в список users элементы 'Voronov' и 42

In [128]:
users = ['Mik', 'Jane', 'Maksimus', 'Natasha']

In [132]:
users.append('Voronov')
users.append('42')

In [133]:
users

['Mik', 'Jane', 'Maksimus', 'Natasha', 'Voronov', 'Voronov', '42']

5) В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18.

Пример данных, которые могут быть в user_ages

    user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

    Note: в этом задании нужно печатать эти числа

In [139]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

6) Напишите программу, проверяющую стаж работы сотрудника. 
В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж).
Поместите в переменную status такую строку

    user_name user_family is position

    где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк

* 'junior' - стаж меньше 2 лет
* 'middle' - стаж больше либо равен 2 лет
* 'senior' - стаж больше 5 лет 
    
    Пример данных, которые могут быть в worker
    
    worker = ['Olya', 'Silyutina', 350000, 3]

    Hint: печатать результат не нужно, просто задайте его в переменную status

In [163]:
worker = ['Olya', 'Silyutina', 350000, 4]
if worker[3] < 2:
    position = 'junior'
elif worker[3] >= 2 and worker[3] < 5:
    position = 'middle'
elif worker[3] >= 5:
    position = 'senior'
status = '{user_name} {user_family} is {position}'.format(user_name = worker[0], user_family = worker[1], position= position)
print(status)

Olya Silyutina is middle

7) В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, 
которые делятся на 10 нацело
Пример данных, которые могут быть в values

    values = [12, 134, 10, 47, 100, 20, 50, 160, 210

In [170]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []
for i in values:
    if i%10 == 0:
        tens.append(i)
print(tens)

[10, 100, 20, 50, 160, 210]

8) ⭐️Задание со звёздочкой!⭐️

Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)
user_name user_family is position
где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк
* 'junior' - стаж меньше 2 лет
* 'middle' - стаж больше либо равен 2 лет
* 'senior' - стаж больше 5 лет 
Пример данных, которые могут быть в workers
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

    Note: в этом задании нужно печатать эти строки

In [201]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 5]]
for i in workers:
    if i[3] < 2:
        position = 'junior'
    elif i[3] >= 2 and i[3] < 5:
        position = 'middle'
    elif i[3] >= 5:
        position = 'senior'
    status = '{user_name} {user_family} is {position}'.format(user_name = i[0], user_family = i[1], position = position)
    print(status)

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

⭐️ Задание со звёздочкой! ⭐️

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [216]:
n = 0
dn = 2
N = 10
lst = [0]
while n <N:
    n = n + dn
    lst.append(n) 
print(lst)

[0, 2, 4, 6, 8, 10]

Создайте словарь users_dict, где:
   * Ключом будет логин пользователя (login)
   * В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя

login	name	surname	age	salary	position

mvolkova	Masha	Volkova	25	60000	junior

pvoronov	Peter	Voronov	27	100000	junior

pparker	Peter	Parker	35	150000	middle

akarpov	Anatoly	Karpov	30	250000	senior

In [229]:
users_dict = {'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, 
              'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'},
              'pparker': {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'},
              'akarpov': {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}
             }

In [237]:
users_dict['akarpov']['age']

30

  # Lesson 2

In [256]:
import pandas as pd

In [ ]:
pd.read_csv()

In [337]:
df = pd.read_csv('D:\\COURSES\\Анатолий Карпов\\Твой путь в мир Data Analytics. Часть 1 (2020)\\2\\Лекции\\lesson_1_data.csv', encoding='windows-1251', sep = ';')

In [339]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"