# Курс «Симулятор SQL»

### **Дашборд "Product metrics: Экономика продукта"**
[**Ссылка на Дашборд**](https://redash.public.karpov.courses/dashboards/4676-3_product-metrics-revenue-and-gross-profit)
### **Главный вопрос** - Анализ продуктовых метрик. Экономика продукта: выручка, расходы и суммарная валовая прибыль

### **Структура (со ссылками на графики в Redash):**
**Динамика выручки:**
- [**Динамика ежедневной выручки**](https://redash.public.karpov.courses/queries/65185/source#99702)
- [**Динамика общей выручки**](https://redash.public.karpov.courses/queries/65185/source#99703)

**Основные показатели выручки:**
- [**Показетели выручки: ARPU, ARPPU, AOV**](https://redash.public.karpov.courses/queries/65201#99726)
- [**Накопленные ARPU, ARPPU и AOV**](https://redash.public.karpov.courses/queries/65222/source#99760)
- [**Динамика ARPU, ARPPU, AOV по дням недели**](https://redash.public.karpov.courses/queries/65234#99766)
- [**Daily revenue by New VS Old users (share)**](https://redash.public.karpov.courses/queries/65237#99769)

**Валовая прибыль:**
- [**Валовая прибыль и её Доля в выручке за день**](https://redash.public.karpov.courses/queries/65247#99789)
- [**Cуммарная валовая прибыль и её Доля в суммарной выручке на день**](https://redash.public.karpov.courses/queries/65247#99791)

**Топовые по популярности товары:**
- [**Revenue by products**](https://redash.public.karpov.courses/queries/65243#99786)

### Задача 1.
Начнём с выручки — наиболее общего показателя, который покажет, какой доход приносит наш сервис.

**Задание:**

Для каждого дня в таблице orders рассчитайте следующие показатели:

Выручку, полученную в этот день.
Суммарную выручку на текущий день.
Прирост выручки, полученной в этот день, относительно значения выручки за предыдущий день.
Колонки с показателями назовите соответственно revenue, total_revenue, revenue_change. Колонку с датами назовите date.

Прирост выручки рассчитайте в процентах и округлите значения до двух знаков после запятой.

Результат должен быть отсортирован по возрастанию даты.

```sql
SELECT
      date,
      revenue,
      COALESCE(SUM(revenue) OVER(ORDER BY date)
               , revenue) AS total_revenue,
      ROUND((revenue::DECIMAL - LAG(revenue) OVER(ORDER BY date))
            /LAG(revenue) OVER(ORDER BY date) * 100, 2) AS revenue_change
  FROM 
      (SELECT
              date,
              SUM(price) AS revenue
         FROM
                (SELECT
                       creation_time::DATE AS date,
                       order_id,
                       UNNEST(product_ids) AS product_id
                  FROM orders
                ) AS query1
          LEFT JOIN products USING(product_id)
         WHERE
              order_id NOT IN (SELECT order_id
                                 FROM user_actions
                                WHERE action = 'cancel_order')
         GROUP BY date
      ) AS query2
 ORDER BY date

### [**Динамика ежедневной выручки. Ссылка на график в Redash**](https://redash.public.karpov.courses/queries/65185/source#99702)

### [**Динамика общей выручки.  Ссылка на график в Redash**](https://redash.public.karpov.courses/queries/65185/source#99703)

### Задача 2.
Теперь на основе данных о выручке рассчитаем несколько относительных показателей, которые покажут, сколько в среднем потребители готовы платить за услуги нашего сервиса доставки. Остановимся на следующих метриках:

1. **ARPU (Average Revenue Per User)** — средняя выручка на одного пользователя за определённый период.

2. **ARPPU (Average Revenue Per Paying User)** — средняя выручка на одного платящего пользователя за определённый период.

3. **AOV (Average Order Value)** — средний чек, или отношение выручки за определённый период к общему количеству заказов за это же время.

Если за рассматриваемый период сервис заработал 100 000 рублей и при этом им пользовались 500 уникальных пользователей, из которых 400 сделали в общей сложности 650 заказов, тогда метрики будут иметь следующие значения:

```ARPU  = 100000/500 = 200```

```ARPPU = 100000/400 = 250```

```AOV   = 100000/650 ≈ 153,85```

**Задание:**

Для каждого дня в таблицах orders и user_actions рассчитайте следующие показатели:

Выручку на пользователя (ARPU) за текущий день.
Выручку на платящего пользователя (ARPPU) за текущий день.
Выручку с заказа, или средний чек (AOV) за текущий день.
Колонки с показателями назовите соответственно arpu, arppu, aov. Колонку с датами назовите date. 

При расчёте всех показателей округляйте значения до двух знаков после запятой.

Результат должен быть отсортирован по возрастанию даты.

**Вариант 1**
```sql
SELECT date,
       ROUND(revenue::decimal / users, 2)        AS arpu,
       ROUND(revenue::decimal / paying_users, 2) AS arppu,
       ROUND(revenue::decimal / orders, 2)       AS aov
  FROM   
       (SELECT date,
               COUNT(DISTINCT order_id) AS orders,        -- кол-во оплаченнных заказов 
               SUM(price) AS revenue                      -- выручка за день
          FROM 
              (SELECT creation_time::DATE AS date,
                      order_id,
                      UNNEST(product_ids) AS product_id    -- дробление заказа на product_id
                 FROM orders
                WHERE order_id NOT IN (SELECT order_id
                                         FROM user_actions
                                        WHERE action = 'cancel_order')
              ) AS qwerty1
          LEFT JOIN products USING(product_id)
         GROUP BY date
       ) qwerty2
  LEFT JOIN (SELECT time::date AS date,
                      COUNT(distinct user_id) AS users -- общее кол-во пользователей
               FROM   user_actions
              GROUP BY date
            ) AS qwerty3 USING(date)
  LEFT JOIN (SELECT time::date AS date,
                    COUNT(DISTINCT user_id) AS paying_users -- кол-во платящих пользователей
               FROM user_actions
              WHERE order_id NOT IN (SELECT order_id
                                       FROM user_actions
                                      WHERE action = 'cancel_order')
              GROUP BY date
            ) qwerty4 USING(date)
 ORDER BY date
```   
**Вариант 2**
```sql
WITH
preparation_table_users AS ( -- предподготовка для нахождения условия разницы между 
                             -- количеством созднанных и отмененных заказов
                           SELECT 
                                    time::DATE AS date,
                                    user_id,
                                    COUNT(order_id) FILTER(WHERE order_id IN 
                                                    (SELECT order_id 
                                                      FROM user_actions 
                                                      WHERE action = 'create_order'
                                                    ))  AS create_orders,
                                    COUNT(order_id) FILTER(WHERE order_id IN 
                                                    (SELECT order_id 
                                                      FROM user_actions 
                                                      WHERE action = 'cancel_order')) AS cancel_orders
                              FROM user_actions
                              GROUP BY date, user_id
                          ),
paying_orders_count AS (-- количество НЕ отмененных заказов (оплаченных)
                           SELECT 
                                    DISTINCT time::DATE AS date,
                                    COUNT(order_id) FILTER(WHERE order_id NOT IN 
                                                    (SELECT order_id 
                                                       FROM user_actions 
                                                      WHERE action = 'cancel_order')
                                                          ) AS paying_orders
                              FROM  user_actions
                              GROUP BY date
                        ),
new_users_by_day AS ( -- число  пользователей, которые как-то пользовались сервисом в этот день
                             SELECT 
                                  date,
                                  COALESCE(new_users 
                                           - LAG(new_users) OVER(ORDER BY date)
                                          , new_users) AS new_users -- просто НОВЫЕ пользователи ЗА ДЕНЬ  
                              FROM   
                                    (SELECT
                                            DISTINCT date,
                                            COUNT(user_id) OVER(ORDER BY date) AS new_users
                                       FROM preparation_table_users
                                      ORDER BY date
                                    ) AS query1
                             ORDER BY date
                    ),
new_paying_users_by_day AS ( -- число платящих пользователей, которые в данный день 
                             -- оформили хотя бы 1 заказ, который не был отменен.
                             SELECT 
                                  date,
                                  COALESCE(new_paying_users 
                                            - LAG(new_paying_users) OVER(ORDER BY date)
                                            , new_paying_users) AS paying_users  -- НОВЫЕ платящие пользователи ЗА ДЕНЬ  
                              FROM   
                                    (SELECT
                                            DISTINCT date,
                                            COUNT(user_id) OVER(ORDER BY date) AS new_paying_users
                                      FROM  preparation_table_users
                                      WHERE
                                            create_orders - cancel_orders > 0
                                          ORDER BY date
                                    ) AS query2
                             ORDER BY date
                             ),
daily_and_total_revenue AS (                          
                            SELECT
                                  date,
                                  SUM(price) AS revenue
                             FROM
                                    (SELECT
                                           creation_time::DATE AS date,
                                           order_id,
                                           UNNEST(product_ids) AS product_id
                                      FROM orders
                                    ) AS query1
                              LEFT JOIN products USING(product_id)
                             WHERE
                                  order_id NOT IN (SELECT order_id
                                                     FROM user_actions
                                                    WHERE action = 'cancel_order')
                             GROUP BY date
                             ORDER BY date
                            )
SELECT
       date,
       ROUND(revenue::decimal / new_users, 2)     AS arpu,
       ROUND(revenue::decimal / paying_users, 2)  AS arppu, 
       ROUND(revenue::decimal / paying_orders, 2) AS aov
  FROM new_users_by_day
  LEFT JOIN daily_and_total_revenue USING(date)
  LEFT JOIN new_paying_users_by_day USING(date)
  LEFT JOIN paying_orders_count     USING(date)

### [**Динамика ARPU, ARPPU, AOV.  Ссылка на график в Redash**](https://redash.public.karpov.courses/queries/65201#99726)

### * Задача 3.
Дополним наш анализ ещё более интересными расчётами — вычислим все те же метрики, но для каждого дня будем учитывать накопленную выручку и все имеющиеся на текущий момент данные о числе пользователей и заказов. Таким образом, получим динамический ARPU, ARPPU и AOV и сможем проследить, как он менялся на протяжении времени с учётом поступающих нам данных.

**Задание:**

По таблицам orders и user_actions для каждого дня рассчитайте следующие показатели:

Накопленную выручку на пользователя (Running ARPU).
Накопленную выручку на платящего пользователя (Running ARPPU).
Накопленную выручку с заказа, или средний чек (Running AOV).
Колонки с показателями назовите соответственно running_arpu, running_arppu, running_aov. Колонку с датами назовите date. 

При расчёте всех показателей округляйте значения до двух знаков после запятой.

Результат должен быть отсортирован по возрастанию даты.

```sql
WITH
revenue AS (
            SELECT 
                   date,
                   SUM (price) AS revenue,
                   COUNT (DISTINCT order_id) AS orders
              FROM 
                   (SELECT creation_time::DATE AS date, 
                           order_id, 
                           UNNEST(product_ids) AS product_id
                      FROM orders
                     WHERE order_id NOT IN 
                                          (SELECT order_id 
                                             FROM user_actions 
                                            WHERE action='cancel_order')
                    ) AS qwerty1
              LEFT JOIN products USING(product_id)
             GROUP BY date
            ),
users AS (
          SELECT 
                 date, 
                 SUM (new_users) OVER (ORDER BY date)        AS running_users,
                 SUM (new_paying_users) OVER (ORDER BY date) AS running_paying_users
            FROM 
                 (SELECT date,
                         COUNT (DISTINCT user_id) AS new_paying_users
                    FROM 
                         (SELECT user_id, 
                                 MIN (time)::DATE AS date
                            FROM user_actions
                           WHERE order_id NOT IN 
                                                (SELECT order_id 
                                                   FROM user_actions 
                                                  WHERE action='cancel_order')
                           GROUP BY user_id
                         ) AS qwerty1
                   GROUP BY date
                 ) AS qwerty2
            LEFT JOIN 
                 (SELECT date, 
                         COUNT (user_id) AS new_users
                    FROM (SELECT user_id, 
                                 MIN (time)::DATE AS date
                            FROM user_actions
                           GROUP BY user_id
                          ) AS qwerty3
                   GROUP BY date
                 ) AS qwerty4 USING (date)
         )
SELECT date,
       ROUND (SUM (revenue) OVER(ORDER BY date)::DECIMAL
             /running_users, 2)                                              AS running_arpu,
       ROUND (SUM (revenue) OVER(ORDER BY date)::DECIMAL
             /running_paying_users, 2)                                       AS running_arppu,
       ROUND (SUM (revenue) OVER(ORDER BY date)::DECIMAL
             /SUM (orders) OVER (ORDER BY date ROWS UNBOUNDED PRECEDING), 2) AS running_aov
  FROM revenue 
  LEFT JOIN users USING(date)
 ORDER BY date

### [**Накопленные ARPU, ARPPU и AOV. Ссылка на график в Redash**](https://redash.public.karpov.courses/queries/65222/source#99760)

### Задача 4.
Давайте посчитаем те же показатели, но в другом разрезе — не просто по дням, а по дням недели.

**Задание:**

Для каждого дня недели в таблицах orders и user_actions рассчитайте следующие показатели:

Выручку на пользователя (ARPU).
Выручку на платящего пользователя (ARPPU).
Выручку на заказ (AOV).
При расчётах учитывайте данные только за период с 26 августа 2022 года по 8 сентября 2022 года включительно — так, чтобы в анализ попало одинаковое количество всех дней недели (ровно по два дня).

В результирующую таблицу включите как наименования дней недели (например, Monday), так и порядковый номер дня недели (от 1 до 7, где 1 — это Monday, 7 — это Sunday).

Колонки с показателями назовите соответственно arpu, arppu, aov. Колонку с наименованием дня недели назовите weekday, а колонку с порядковым номером дня недели weekday_number.

```sql
WITH 
revenue AS (
            SELECT 
                   weekday_number, 
                   weekday, 
                   SUM (price) AS revenue, 
                   COUNT (DISTINCT order_id) AS orders
            FROM 
                (SELECT 
                        DATE_PART('isodow', creation_time) AS weekday_number, 
                        TO_CHAR (creation_time, 'Day')     AS weekday, 
                        order_id, 
                        UNNEST(product_ids) AS product_id
                   FROM orders
                  WHERE order_id NOT IN 
                                        (SELECT order_id 
                                           FROM user_actions 
                                          WHERE action = 'cancel_order') 
                        AND creation_time 
                            BETWEEN '2022-08-26' AND '2022-09-08 23:59:59'
                ) AS qwerty1
            LEFT JOIN products USING(product_id)
           GROUP BY 
                 weekday_number, weekday
           ),
users AS(
         SELECT 
                DATE_PART ('isodow', time) AS weekday_number,
                COUNT(DISTINCT user_id) FILTER (WHERE order_id NOT IN 
                                                        (SELECT order_id 
                                                           FROM user_actions 
                                                          WHERE action='cancel_order')
                                                ) AS paying_users, 
                COUNT(DISTINCT user_id) AS users
           FROM user_actions
          WHERE time BETWEEN '2022-08-26' AND '2022-09-08 23:59:59'
          GROUP BY weekday_number
        )
SELECT 
       weekday,
       weekday_number::integer, 
       ROUND (revenue::DECIMAL / users, 2)        AS arpu,
       ROUND (revenue::DECIMAL / paying_users, 2) AS arppu,
       ROUND (revenue::DECIMAL / orders, 2)       AS aov
  FROM revenue 
  LEFT JOIN users USING(weekday_number)
 ORDER BY weekday_number

### [**Динамика ARPU, ARPPU, AOV по дням недели**](https://redash.public.karpov.courses/queries/65234#99766)

### * Задача 5.
Немного усложним наш первоначальный запрос и отдельно посчитаем ежедневную выручку с заказов новых пользователей нашего сервиса. Посмотрим, какую долю она составляет в общей выручке с заказов всех пользователей — и новых, и старых.

**Задание:**

Для каждого дня в таблицах orders и user_actions рассчитайте следующие показатели:

Выручку, полученную в этот день.
Выручку с заказов новых пользователей, полученную в этот день.
Долю выручки с заказов новых пользователей в общей выручке, полученной за этот день.
Долю выручки с заказов остальных пользователей в общей выручке, полученной за этот день.
Колонки с показателями назовите соответственно revenue, new_users_revenue, new_users_revenue_share, old_users_revenue_share. Колонку с датами назовите date. 

Все показатели долей необходимо выразить в процентах. При их расчёте округляйте значения до двух знаков после запятой.

```sql
WITH
preparation_table AS(
                      SELECT 
                             date, user_id, 
                             order_id, order_price
                        FROM 
                            (SELECT 
                                    time::DATE AS date, 
                                    user_id, order_id
                               FROM user_actions
                              WHERE order_id NOT IN (SELECT order_id 
                                                       FROM user_actions 
                                                      WHERE action ='cancel_order')
                            ) AS qwerty1
                        LEFT JOIN 
                             (SELECT 
                                     order_id, 
                                     SUM (price) AS order_price
                                FROM 
                                    (SELECT order_id, 
                                            UNNEST(product_ids) AS product_id
                                       FROM orders
                                    ) AS qwerty2
                                LEFT JOIN products USING(product_id)
                               GROUP BY order_id
                              ) AS qwerty3 USING (order_id)
                      ),
new_users_revenue AS(
                    SELECT qwerty4.date AS date, 
                           SUM (order_price) AS new_users_revenue
                      FROM preparation_table AS p_t
                     RIGHT JOIN 
                         (SELECT MIN(time)::DATE AS date, 
                                 user_id
                            FROM user_actions
                           GROUP BY user_id
                           ORDER BY user_id
                         ) AS qwerty4
                       ON p_t.date = qwerty4.date AND p_t.user_id = qwerty4.user_id
                    GROUP BY qwerty4.date
                    ORDER BY date
                    )
SELECT 
       date, 
       revenue, 
       new_users_revenue,
       ROUND(new_users_revenue::DECIMAL / revenue *100, 2) AS new_users_revenue_share,
       100 - ROUND(new_users_revenue::DECIMAL / revenue *100, 2) AS old_users_revenue_share
  FROM 
      (SELECT date, 
              SUM (order_price) AS revenue
         FROM preparation_table AS p_t
        GROUP BY date
      ) AS qwerty5
  LEFT JOIN new_users_revenue USING(date)
 ORDER BY date

### [**Daily revenue by New VS Old users (share)**](https://redash.public.karpov.courses/queries/65237#99769)

### Задача 6.
Также было бы интересно посмотреть, какие товары пользуются наибольшим спросом и приносят нам основной доход.

**Задание:**

Для каждого товара, представленного в таблице products, за весь период времени в таблице orders рассчитайте следующие показатели:

Суммарную выручку, полученную от продажи этого товара за весь период.
Долю выручки от продажи этого товара в общей выручке, полученной за весь период.
Колонки с показателями назовите соответственно revenue и share_in_revenue. Колонку с наименованиями товаров назовите product_name.

Долю выручки с каждого товара необходимо выразить в процентах. При её расчёте округляйте значения до двух знаков после запятой.

Товары, округлённая доля которых в выручке составляет менее 0.5%, объедините в общую группу с названием «ДРУГОЕ» (без кавычек), просуммировав округлённые доли этих товаров.

Результат должен быть отсортирован по убыванию выручки от продажи товара.

```sql
SELECT 
       product_name,                               -- название категории товара
       SUM (revenue) AS revenue,                   -- доход за категорию товара
       SUM (share_in_revenue) AS share_in_revenue  -- доля от общего дохода
  FROM 
      (SELECT 
             CASE
             WHEN ROUND (revenue::DECIMAL / SUM (revenue) OVER() *100, 2) < 0.5 THEN 'ДРУГОЕ'
             ELSE name
             END AS product_name,
             revenue, 
             ROUND (revenue::DECIMAL / SUM (revenue) OVER() *100, 2) AS share_in_revenue
        FROM (SELECT name, 
                     SUM(price) AS revenue -- доход за категорию товара
                FROM 
                     (SELECT date, 
                             order_id, 
                             product_id, name, 
                             price
                        FROM 
                             (SELECT 
                                     creation_time::DATE AS date, 
                                     order_id, 
                                     UNNEST(product_ids) AS product_id
                                FROM orders
                               WHERE order_id NOT IN 
                                                (SELECT order_id 
                                                   FROM user_actions 
                                                  WHERE action = 'cancel_order')
                             ) AS qwerty1
                        LEFT JOIN products USING (product_id)
                      ) AS qwerty2
               GROUP BY name
             ) AS qwerty3
      ) AS qwerty4
  GROUP BY product_name
  ORDER BY revenue DESC

### [**Товары с наибольшим спросом**](https://redash.public.karpov.courses/queries/65243#99786)

### * Задача 7.
Теперь попробуем учесть в наших расчётах затраты с налогами и посчитаем валовую прибыль, то есть ту сумму, которую мы фактически получили в результате реализации товаров за рассматриваемый период.

**Задание:**

Для каждого дня в таблицах orders и courier_actions рассчитайте следующие показатели:

    Выручку, полученную в этот день.
    Затраты, образовавшиеся в этот день.
    Сумму НДС с продажи товаров в этот день.
    Валовую прибыль в этот день (выручка за вычетом затрат и НДС).
    Суммарную выручку на текущий день.
    Суммарные затраты на текущий день.
    Суммарный НДС на текущий день.
    Суммарную валовую прибыль на текущий день.
    Долю валовой прибыли в выручке за этот день (долю п.4 в п.1).
    Долю суммарной валовой прибыли в суммарной выручке на текущий день (долю п.8 в п.5).
    
Колонки с показателями назовите соответственно revenue, costs, tax, gross_profit, total_revenue, total_costs, total_tax, total_gross_profit, gross_profit_ratio, total_gross_profit_ratio

Колонку с датами назовите date.

Долю валовой прибыли в выручке необходимо выразить в процентах, округлив значения до двух знаков после запятой.

Результат должен быть отсортирован по возрастанию даты.

Поля в результирующей таблице: date, revenue, costs, tax, gross_profit, total_revenue, total_costs, total_tax, total_gross_profit, gross_profit_ratio,total_gross_profit_ratio

Чтобы посчитать затраты, в этой задаче введём дополнительные условия.

В упрощённом виде затраты нашего сервиса будем считать как сумму постоянных и переменных издержек. К постоянным издержкам отнесём аренду складских помещений, а к переменным — стоимость сборки и доставки заказа. Таким образом, переменные затраты будут напрямую зависеть от числа заказов.

Из данных, которые нам предоставил финансовый отдел, известно, что в августе 2022 года постоянные затраты составляли 120 000 рублей в день. Однако уже в сентябре нашему сервису потребовались дополнительные помещения, и поэтому постоянные затраты возросли до 150 000 рублей в день.

Также известно, что в августе 2022 года сборка одного заказа обходилась нам в 140 рублей, при этом курьерам мы платили по 150 рублей за один доставленный заказ и ещё 400 рублей ежедневно в качестве бонуса, если курьер доставлял не менее 5 заказов в день. В сентябре продакт-менеджерам удалось снизить затраты на сборку заказа до 115 рублей, но при этом пришлось повысить бонусную выплату за доставку 5 и более заказов до 500 рублей, чтобы обеспечить более конкурентоспособные условия труда. При этом в сентябре выплата курьерам за один доставленный заказ осталась неизменной.

**Пояснение:** 

При расчёте переменных затрат учитывайте следующие условия:

1. Затраты на сборку учитываются в том же дне, когда был оформлен заказ. Сборка отменённых заказов не производится.

2. Выплата курьерам за доставленный заказ начисляется сразу же после его доставки, поэтому если курьер доставит заказ на следующий день, то и выплата будет учтена в следующем дне.

3. Для получения бонусной выплаты курьерам необходимо доставить не менее 5 заказов в течение одного дня, поэтому если курьер примет 5 заказов в течение дня, но последний из них доставит после полуночи, бонусную выплату он не получит.

При расчёте НДС учитывайте, что для некоторых товаров налог составляет 10%, а не 20%. Список товаров со сниженным НДС:

'сахар', 'сухарики', 'сушки', 'семечки', 
'масло льняное', 'виноград', 'масло оливковое', 
'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 
'овсянка', 'макароны', 'баранина', 'апельсины', 
'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 
'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 
'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 
'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 
'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 'вафли', 'мандарины'


Также при расчёте величины НДС по каждому товару округляйте значения до двух знаков после запятой.

При расчёте выручки по-прежнему будем считать, что оплата за заказ поступает сразу же после его оформления, т.е. случаи, когда заказ был оформлен в один день, а оплата получена на следующий, возникнуть не могут.

Также помните, что не все заказы были оплачены — некоторые были отменены пользователями.

```sql
WITH
costs AS ( -- Затраты, это СУММА стоимости: 
           -- аренды скл. помещений + сборки заказа + доставки заказа + бонусной выплаты за доставку
            SELECT date,
                   CASE
                   WHEN DATE_PART ('month', date)    = 8 
                        AND DATE_PART ('year', date) = 2022 
                   THEN 
                      120000 + SUM (order_assembly_costs) 
                      + SUM (delivery_order_costs) + SUM (delivery_orders_bonus)
                   ELSE 
                      150000 + SUM (order_assembly_costs) + SUM (delivery_order_costs) 
                      + SUM (delivery_orders_bonus)
                   END AS costs -- Затраты
              FROM
                  (SELECT  
                           date, 
                           courier_id, 
                           delivery_orders, 
                           accepted_orders,
                           CASE
                           WHEN DATE_PART ('month', date)    = 8 
                                AND DATE_PART ('year', date) = 2022 
                           THEN accepted_orders * 140   -- 140р стоимость сборки 1 заказа в АВГУСТЕ
                           ELSE accepted_orders * 115   -- 115р стоимость сборки 1 заказа в СЕНТЯБРЕ
                           END AS order_assembly_costs,                 -- стоимость сборки заказа
                           delivery_orders*150 AS delivery_order_costs, -- 150р за 1 доставленный заказ = стоимость доставки заказа
                           CASE
                           WHEN DATE_PART ('month', date)    = 8 
                                AND DATE_PART ('year', date) = 2022 
                                AND delivery_orders >= 5 -- условие bonus выплаты за доставку, свыше 5 заказов
                           THEN 400                      -- 400р в АВГУСТЕ
                           WHEN DATE_PART ('month', date)    = 9 
                                AND DATE_PART ('year', date) = 2022 
                                AND delivery_orders >= 5 
                           THEN 500                      -- 500р в СЕНТЯБРЕ
                           ELSE 0
                           END AS delivery_orders_bonus  -- бонусная выплата за доставку
                     FROM 
                        (SELECT 
                                DATE(time) AS date, 
                                courier_id, 
                                COUNT (order_id) FILTER(WHERE action = 'deliver_order') AS delivery_orders,
                                COUNT (order_id) FILTER(WHERE action = 'accept_order')  AS accepted_orders
                           FROM courier_actions
                          WHERE order_id NOT IN (SELECT order_id 
                                                   FROM user_actions 
                                                  WHERE action ='cancel_order')
                          GROUP BY 
                                date, courier_id
                        ) AS qwerty1
                  ) AS qwerty2   
             GROUP BY date
         ),
revenue AS (
            SELECT 
                   date, 
                   SUM (price) AS revenue, 
                   SUM (product_tax) AS tax -- Сумма НДС с продажи товаров в этот день
              FROM 
                   (SELECT 
                          date, order_id, name, price,
                          CASE 
                          WHEN  -- список товаров со сниженным НДС
                                name IN ('сахар', 'сухарики', 'сушки', 'семечки',   
                               'масло льняное', 'виноград', 'масло оливковое', 'арбуз', 
                               'батон', 'йогурт', 'сливки', 'гречка', 'овсянка', 'макароны',
                               'баранина', 'апельсины', 'бублики', 'хлеб', 'горох', 
                               'сметана', 'рыба копченая', 'мука', 'шпроты', 'сосиски', 
                               'свинина', 'рис', 'масло кунжутное', 'сгущенка', 'ананас', 
                               'говядина', 'соль', 'рыба вяленая', 'масло подсолнечное', 
                               'яблоки', 'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 
                               'вафли', 'мандарины')
                          THEN ROUND (price * 10 /110, 2) -- Ставка НДС (10%)
                          ELSE ROUND (price * 20 /120, 2) -- Ставка НДС (20%)
                          END AS product_tax -- сумма НДС с продажи конкретного товара
                     FROM 
                         (SELECT 
                                 DATE(creation_time) AS date, 
                                 order_id, 
                                 UNNEST(product_ids) AS product_id
                            FROM orders
                           WHERE order_id NOT IN (SELECT order_id 
                                                    FROM user_actions 
                                                   WHERE action = 'cancel_order')
                         ) AS qwerty1
                     LEFT JOIN products USING(product_id)
                   ) AS qwerty2
              GROUP BY date
           )
SELECT 
       date, 
       revenue, -- Выручка, полученная в этот день
       costs,   -- Затраты, образовавшиеся в этот день
       tax,     -- Сумма НДС с продажи товаров в этот день
       revenue - costs - tax AS gross_profit,   -- Валовая прибыль в день (выручка за вычетом затрат и НДС)
       SUM (revenue) OVER(ORDER BY date)                       AS total_revenue,      -- Суммарная выручка на текущий день
       SUM (costs) OVER(ORDER BY date)                         AS total_costs,        -- Суммарные затраты на текущий день
       SUM (tax) OVER(ORDER BY date)                           AS total_tax,          -- Суммарный НДС на текущий день
       SUM (revenue - costs - tax) OVER(ORDER BY date)         AS total_gross_profit, -- Суммарная валовая прибыль на текущий день
       ROUND((revenue - costs - tax)/revenue::DECIMAL *100, 2) AS gross_profit_ratio, -- Доля валовой прибыли в выручке за этот день
       ROUND( SUM (revenue - costs - tax) OVER(ORDER BY date)::DECIMAL
             /SUM (revenue) OVER(ORDER BY date) *100, 2)       AS total_gross_profit_ratio -- Доля суммарной валовой прибыли в суммарной выручке на текущий день
  FROM revenue 
  LEFT JOIN costs USING(date)
 ORDER BY date

### [**Валовая прибыль и её Доля в выручке за день**](https://redash.public.karpov.courses/queries/65247#99789)

### [**Cуммарная валовая прибыль и её Доля в суммарной выручке на день**](https://redash.public.karpov.courses/queries/65247#99791)