# Курс «Симулятор SQL»

### **Дашборд "Product metrics: Маркетинговые метрики"**
[**Ссылка на Дашборд**](https://redash.public.karpov.courses/dashboards/4684-4_product-metrics-)
### **Главный вопрос** - Анализ продуктовых метрик. Маркетинговые метрики:

### **Структура (со ссылками на графики в Redash):**
**Динамика выручки:**
- [**Динамика ежедневной выручки**](https://redash.public.karpov.courses/queries/65185/source#99702)
- [**Динамика общей выручки**](https://redash.public.karpov.courses/queries/65185/source#99703)

**Основные показатели выручки:**

### Задача 1.
Познакомимся с метриками, которые помогают оценить эффективность нашего маркетинга — то, насколько эффективно мы привлекаем пользователей в наше приложение. 

Сперва рассмотрим метрику **CAC (Customer Acquisition Cost)**, которая отражает **затраты на привлечение одного покупателя.**

Представим ситуацию: к нам обратились маркетологи с просьбой сравнить две рекламные кампании.

**В рекламной кампании № 1** о нашем приложении рассказал известный блогер на Youtube-канале о кулинарии. **На эту интеграцию суммарно потратили 250 тысяч рублей.** **В результате** этой кампании 1 сентября **в приложении зарегистрировался 171 человек**.

**В рамках рекламной кампании № 2** пользователям показывали таргетированную рекламу в социальных сетях. На это тоже суммарно **потратили 250 тысяч рублей**, и **в результате** 1 сентября у нас **появилось 236 новых пользователей**.

Как нам оценить, какой из каналов привлечения сработал лучше? На первый взгляд, вторая кампания показала себя лучше, поскольку нам удалось привлечь больше людей за те же деньги. Но не будем торопиться с выводами — давайте **сначала проведём более подробный анализ и рассчитаем CAC для двух рекламных кампаний.**

**Задание:**

На основе таблицы user_actions рассчитайте метрику CAC для двух рекламных кампаний.

Список id пользователей, пришедших после рекламной кампании № 1:

```8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741...```

Список id пользователей, пришедших после рекламной кампании № 2:

```8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681...```

Колонку с наименованиями кампаний назовите ads_campaign, а колонку со значением метрики — cac.

Наименования кампаний выведите в следующем виде:

    Кампания № 1
    Кампания № 2

```SQL
SELECT
       concat('Кампания № ', ads_campaign) AS ads_campaign,     -- название рекламной компании
       ROUND (250000 / COUNT (ads_campaign)::decimal, 2) AS cac -- Customer Acquisition Cost - затраты на привлечение одного покупателя
  FROM
     (SELECT
            DISTINCT user_id,
            CASE
             WHEN -- id пользователей, пришедших после рекламной кампании № 1
                user_id IN (
                8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 
                8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 
                8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 
                9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 
                9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 
                9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 
                9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 
                9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                10105, 10122, 10134, 10135)
             THEN '1'
             WHEN -- id пользователей, пришедших после рекламной кампании № 2
                user_id IN (
                8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 
                8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 
                8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 
                9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 
                9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 
                9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 
                9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 
                9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 
                9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 
                10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
             THEN '2'
            END AS ads_campaign
        FROM user_actions
       WHERE 
             order_id NOT IN (SELECT order_id
                                FROM user_actions
                               WHERE action = 'cancel_order')
     ) AS qwerty1
WHERE ads_campaign    = '1' 
      OR ads_campaign = '2'
GROUP BY ads_campaign

### [**Customer Acquisition Cost: №1 VS №2**](https://redash.public.karpov.courses/queries/65287/source#99855)

### Задача 2.
Отлично, CAC мы рассчитали, но можем ли мы теперь утверждать, что вторая рекламная кампания лучше только потому, что позволяет привлекать платящих пользователей за меньшие деньги?

Нет, делать такие выводы рано — давайте оценим ещё один показатель, который отражает рентабельность инвестиций и показывает, насколько выгодным является тот или иной проект или продукт. Эта метрика называется **ROI (Return on Investment)**, в маркетинге её часто применяют для **подсчёта окупаемости** рекламных кампаний.

Приведём пример. Допустим, мы вложили в рекламу 100 рублей, и в результате продали товаров на 220 рублей. Тогда ROI будет рассчитан следующим образом:

**ROI = (REVENUE − COSTS) / COSTS ∗ 100%**

**ROI = (220 − 100) / 100 ∗ 100% = 120%**

Таким образом, на каждый вложенный в рекламу рубль мы получили 1,2 рубля дохода.

Давайте сравним две рекламные кампании по значениям метрики ROI и сделаем вывод о том, какой из рекламных каналов в большей мере окупает расходы на привлечение новых пользователей.

**Задание:**

Рассчитайте ROI для каждого рекламного канала.

Колонку с наименованиями кампаний назовите ads_campaign, а колонку со значением метрики — roi.

Наименования кампаний выведите в следующем виде:

    Кампания № 1
    Кампания № 2

Полученные значения метрики необходимо выразить в процентах и округлить до двух знаков после запятой.

```SQL
WITH
query_users_id_with_campaing AS (
                    SELECT 
                         user_id, 
                         concat('Кампания № ', ads_campaign) AS ads_campaign  -- название рекламной компании
                      FROM
                         (SELECT
                                DISTINCT user_id,
                                CASE
                                 WHEN -- id пользователей, пришедших после рекламной кампании № 1
                                    user_id IN (
                                    8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 
                                    8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 
                                    8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                                    8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 
                                    9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 
                                    9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                                    9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                    9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 
                                    9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                                    9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 
                                    9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 
                                    9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                                    9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                    10105, 10122, 10134, 10135)
                                 THEN '1'
                                 WHEN -- id пользователей, пришедших после рекламной кампании № 2
                                    user_id IN (
                                    8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 
                                    8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                                    8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 
                                    8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                    8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                                    9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 
                                    9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 
                                    9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                                    9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 
                                    9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 
                                    9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                                    9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 
                                    9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 
                                    9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                                    9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                    9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 
                                    10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
                                 THEN '2'
                                END AS ads_campaign
                            FROM user_actions
                           WHERE 
                                 order_id NOT IN (SELECT order_id
                                                    FROM user_actions
                                                   WHERE action = 'cancel_order')
                         ) AS qwerty1
                    WHERE ads_campaign IS NOT NULL
                    ),
revenue_by_orders AS (
                    SELECT 
                           order_id,
                           SUM (price) AS revenue
                      FROM
                          (SELECT
                                  order_id,
                                  UNNEST(product_ids) AS product_id
                             FROM orders
                            WHERE order_id NOT IN (SELECT order_id FROM user_actions WHERE action = 'cancel_order')
                          ) AS qwerty2
                      LEFT JOIN products USING(product_id)
                     GROUP BY order_id
                    )
SELECT 
       ads_campaign,
       ROUND ((SUM (revenue)::decimal - 250000) / 250000 * 100, 2) AS roi
  FROM query_users_id_with_campaing AS q_users
  LEFT JOIN user_actions USING(user_id)
  LEFT JOIN revenue_by_orders USING(order_id)
 WHERE
       order_id IN (SELECT order_id FROM revenue_by_orders)
 GROUP BY ads_campaign
 ORDER BY roi DESC

### [**Return on Investment: №1 VS №2**](https://redash.public.karpov.courses/queries/65297/source#99873)

### Задача 3.
Итак, мы выяснили, что первая рекламная кампания позволяет привлекать более качественных лидов. Но причина этих различий пока не совсем ясна. Почему пользователи из первого рекламного канала приносят нам больше денег? Может быть, у них выше средний чек? 

Давайте проведём более детальный анализ, чтобы выяснить, чем отличаются два рекламных канала с точки зрения пользовательских метрик.

**Задание:**

Для каждой рекламной кампании посчитайте среднюю стоимость заказа привлечённых пользователей за первую неделю использования приложения с 1 по 7 сентября 2022 года.

Колонку с наименованиями кампаний назовите ads_campaign, а колонку со значением метрики — avg_check.

Наименования кампаний выведите в следующем виде:

    Кампания № 1
    Кампания № 2

Полученные значения метрики необходимо округлить до двух знаков после запятой.

Результат должен быть отсортирован по убыванию значения метрики.

```SQL
WITH 
preparation_table AS (
                      SELECT 
                             user_id, 
                             order_id, 
                             action, 
                             order_price, 
                             ads_campaign, 
                             is_canceled
                        FROM
                            (SELECT 
                                    time::DATE AS date, 
                                    user_id, 
                                    order_id, 
                                    action,
                                    CASE
                                     WHEN -- id пользователей, пришедших после рекламной кампании № 1
                                        user_id IN (
                                        8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 
                                        8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 
                                        8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                                        8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 
                                        9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 
                                        9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                                        9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                        9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 
                                        9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                                        9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 
                                        9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 
                                        9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                                        9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                        10105, 10122, 10134, 10135)
                                     THEN '1'
                                     WHEN -- id пользователей, пришедших после рекламной кампании № 2
                                        user_id IN (
                                        8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 
                                        8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                                        8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 
                                        8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                        8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                                        9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 
                                        9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 
                                        9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                                        9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 
                                        9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 
                                        9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                                        9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 
                                        9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 
                                        9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                                        9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                        9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 
                                        10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
                                     THEN '2'
                                    END AS ads_campaign,
                                     COUNT (action) FILTER(WHERE action = 'cancel_order') 
                                                    OVER (PARTITION BY order_id) AS is_canceled
                              FROM user_actions
                           ) AS qwerty1
                       LEFT JOIN
                                 (SELECT order_id, SUM(price) AS order_price
                                    FROM 
                                        (SELECT order_id, 
                                                UNNEST(product_ids) AS product_id
                                           FROM orders
                                        ) AS qwerty2
                                    LEFT JOIN products USING(product_id)
                                   GROUP BY order_id
                                  ) AS qwerty3
                                 USING (order_id)
                      WHERE date BETWEEN '2022-09-01' AND '2022-09-07 23:59:59'
                     )
SELECT concat('Кампания № ', ads_campaign) AS ads_campaign,
       ROUND (AVG (avg_order_price), 2) AS avg_check
  FROM 
       (SELECT 
               user_id, 
               ads_campaign, 
               is_canceled, 
               AVG (order_price) AS avg_order_price
          FROM preparation_table
         GROUP BY 
               user_id, ads_campaign, is_canceled
       ) AS qwerty4
 WHERE ads_campaign IN ('1', '2')
       AND is_canceled = 0
 GROUP BY ads_campaign
 ORDER BY avg_check DESC

### [**AVG check: №1 VS №2**](https://redash.public.karpov.courses/queries/65303/source#99885)

### Retention
Средний чек мы посчитали, но ответа на наш вопрос не получили. В чём же тогда может быть дело? Давайте обратим внимание на ещё один важный показатель — **Retention rate**.

**Retention rate — коэффициент удержания клиентов. Он показывает долю пользователей, которые вернулись в приложение спустя N дней, недель или месяцев после своего первого входа — метрику можно рассчитывать по любым периодам, которые интересуют.**

Таким образом, **метрика Retention отражает ценность нашего продукта в глазах пользователей**: если они возвращаются к нам с определённой периодичностью, значит, наш продукт помогает им решать свои задачи.

### Задача 4.
Давайте сразу же закрепим на практике методику расчёта Retention и попробуем самостоятельно написать похожий запрос, руководствуясь материалами лекции.

**Задание:**

На основе данных в таблице user_actions рассчитайте показатель дневного Retention для всех пользователей, разбив их на когорты по дате первого взаимодействия с нашим приложением.

В результат включите четыре колонки: месяц первого взаимодействия, дату первого взаимодействия, количество дней, прошедших с даты первого взаимодействия (порядковый номер дня начиная с 0), и само значение Retention.

Колонки со значениями назовите соответственно start_month, start_date, day_number, retention.

Метрику необходимо выразить в виде доли, округлив полученные значения до двух знаков после запятой.

Месяц первого взаимодействия укажите в виде даты, округлённой до первого числа месяца.

Результат должен быть отсортирован сначала по возрастанию даты первого взаимодействия, затем по возрастанию порядкового номера дня.

```sql
SELECT 
       DATE_TRUNC('month', start_date)::date AS start_month,
       start_date,
       date - start_date AS day_number,
       ROUND (COUNT(DISTINCT user_id)::decimal
              / MAX (COUNT(DISTINCT user_id)) OVER (PARTITION BY start_date), 2) AS retention
  FROM 
       (SELECT 
              user_id,
              MIN (time::date) OVER (PARTITION BY user_id) AS start_date,
              time::date AS date
         FROM user_actions
       ) AS qwerty1
 GROUP BY 
       date, start_date
 ORDER BY 
       start_date, day_number

### [**Retention by users**](https://redash.public.karpov.courses/queries/65321/source#99911)

### Задача 5.
А теперь вернёмся к анализу рекламных кампаний и посчитаем Retention для двух групп пользователей. Возможно, дело именно в том, что один из каналов привёл более активных и заинтересованных пользователей. Давайте это выясним!

**Задание:**

Для каждой рекламной кампании посчитайте Retention 1-го и 7-го дня у привлечённых пользователей. 

В результат включите четыре колонки: колонку с наименованиями кампаний, дату первого взаимодействия с приложением, количество дней, прошедших с даты первого взаимодействия (порядковый номер), и само значение Retention.

Колонки со значениями назовите соответственно ```ads_campaign, start_date, day_number, retention.```

Наименования кампаний выведите в следующем виде:

    Кампания № 1
    Кампания № 2


Метрику необходимо выразить в виде доли, округлив полученные значения до двух знаков после запятой.

Результат должен быть отсортирован сначала по наименованию кампании (по возрастанию), затем по возрастанию порядкового номера дня.

В результат должны попасть следующие дни: нулевой, первый и седьмой.

```sql
SELECT 
      ads_campaign, 
      start_date, 
      day_number,
      ROUND (COUNT(DISTINCT user_id)::DECIMAL
             / MAX (COUNT(DISTINCT user_id)) OVER(PARTITION BY ads_campaign), 2) AS retention
  FROM 
        (SELECT 
                user_id, 
                concat('Кампания № ', ads_campaign) AS ads_campaign,  -- название рекламной компании
                MIN (date) OVER(PARTITION BY user_id) AS start_date,
                date,
                date - MIN (date) OVER(PARTITION BY user_id) AS day_number
           FROM 
                (SELECT 
                        time::DATE AS date, 
                        user_id, 
                       CASE
                         WHEN -- id пользователей, пришедших после рекламной кампании № 1
                            user_id IN (
                            8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 
                            8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 
                            8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                            8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 
                            9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 
                            9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                            9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                            9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 
                            9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                            9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 
                            9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 
                            9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                            9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                            10105, 10122, 10134, 10135)
                         THEN '1'
                         WHEN -- id пользователей, пришедших после рекламной кампании № 2
                            user_id IN (
                            8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 
                            8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                            8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 
                            8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                            8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                            9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 
                            9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 
                            9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                            9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 
                            9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 
                            9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                            9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 
                            9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 
                            9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                            9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                            9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 
                            10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 10106, 10110, 10113, 10131)
                         THEN '2'
                        END AS ads_campaign
                    FROM user_actions
                ) qwerty1
           WHERE ads_campaign IS NOT NULL
        ) qwerty2
 WHERE day_number IN (0, 1, 7)
 GROUP BY 
       ads_campaign, start_date, day_number

### [**Retention 1-го и 7-го дня по каждой кампании**](https://redash.public.karpov.courses/queries/65322/source#99914)

### **Вывод**

**Пользователи из обоих рекламных каналов практически не различаются по среднему чеку, но Retention почти в два раза выше у первой группы. Это и приводит к тому, что пользователи из первой группы приносят нам больше денег.**

### Задача 6.
И напоследок давайте выясним, на какой день доход от заказов покупателей, пришедших после первой рекламной кампании, превысил расходы на их привлечение. Для этого рассчитаем накопительный ARPPU и сравним его с уже посчитанной ранее метрикой CAC. Сделаем это для двух кампаний, чтобы точно убедиться, что в случае второй рекламной кампании затраты мы пока не окупили.

Суть расчёта накопительного ARPPU заключается в том, что для каждого дня число покупателей в когорте будет оставаться неизменным, а полученный от их заказов доход — расти. В результате накопительный ARPPU будет постепенно увеличиваться и в какой-то момент превысит сумму изначальных затрат на привлечение одного покупателя.

**Задание:**

Для каждой рекламной кампании для каждого дня посчитайте две метрики:

    1. Накопительный ARPPU.
    2. Затраты на привлечение одного покупателя (CAC).

Колонку с наименованиями кампаний назовите ads_campaign, колонку с днями — day, а колонки со значениями метрик — cumulative_arppu и cac.

Значения метрики CAC укажите одинаковым для всех дней (это необходимо для наглядной визуализации).

Наименования кампаний выведите в следующем виде:

    Кампания № 1
    Кампания № 2


Дни пронумеруйте начиная с 0 и отобразите в следующем формате:

    Day 0
    Day 1
    Day 2
    и т.д.


Полученные значения метрик необходимо округлить до двух знаков после запятой.

Результат должен быть отсортирован сначала по наименованию кампании (по возрастанию), затем по наименованию дня (также по возрастанию).

```SQL
WITH
preparation_table AS (
                    SELECT 
                           ads_campaign,
                           user_id, 
                           order_id, 
                           time,
                           product_id, price
                      FROM   
                           (SELECT 
                                   ads_campaign, 
                                   user_id,
                                   order_id, 
                                   time
                              FROM 
                                   (SELECT 
                                           user_id, 
                                           order_id,
                                           time,
                                          CASE
                                             WHEN -- id пользователей, пришедших после рекламной кампании № 1
                                                user_id IN (
                                                8631, 8632, 8638, 8643, 8657, 8673, 8706, 8707, 8715, 8723, 8732, 8739, 8741, 
                                                8750, 8751, 8752, 8770, 8774, 8788, 8791, 8804, 8810, 8815, 8828, 8830, 8845, 
                                                8853, 8859, 8867, 8869, 8876, 8879, 8883, 8896, 8909, 8911, 8933, 8940, 8972, 
                                                8976, 8988, 8990, 9002, 9004, 9009, 9019, 9020, 9035, 9036, 9061, 9069, 9071, 
                                                9075, 9081, 9085, 9089, 9108, 9113, 9144, 9145, 9146, 9162, 9165, 9167, 9175, 
                                                9180, 9182, 9197, 9198, 9210, 9223, 9251, 9257, 9278, 9287, 9291, 9313, 9317, 
                                                9321, 9334, 9351, 9391, 9398, 9414, 9420, 9422, 9431, 9450, 9451, 9454, 9472, 
                                                9476, 9478, 9491, 9494, 9505, 9512, 9518, 9524, 9526, 9528, 9531, 9535, 9550, 
                                                9559, 9561, 9562, 9599, 9603, 9605, 9611, 9612, 9615, 9625, 9633, 9652, 9654, 
                                                9655, 9660, 9662, 9667, 9677, 9679, 9689, 9695, 9720, 9726, 9739, 9740, 9762, 
                                                9778, 9786, 9794, 9804, 9810, 9813, 9818, 9828, 9831, 9836, 9838, 9845, 9871, 
                                                9887, 9891, 9896, 9897, 9916, 9945, 9960, 9963, 9965, 9968, 9971, 9993, 9998, 
                                                9999, 10001, 10013, 10016, 10023, 10030, 10051, 10057, 10064, 10082, 10103, 
                                                10105, 10122, 10134, 10135)
                                             THEN '1'
                                             WHEN -- id пользователей, пришедших после рекламной кампании № 2
                                                user_id IN (
                                                8629, 8630, 8644, 8646, 8650, 8655, 8659, 8660, 8663, 8665, 8670, 8675, 8680, 8681, 
                                                8682, 8683, 8694, 8697, 8700, 8704, 8712, 8713, 8719, 8729, 8733, 8742, 8748, 8754, 
                                                8771, 8794, 8795, 8798, 8803, 8805, 8806, 8812, 8814, 8825, 8827, 8838, 8849, 8851, 
                                                8854, 8855, 8870, 8878, 8882, 8886, 8890, 8893, 8900, 8902, 8913, 8916, 8923, 8929, 
                                                8935, 8942, 8943, 8949, 8953, 8955, 8966, 8968, 8971, 8973, 8980, 8995, 8999, 9000, 
                                                9007, 9013, 9041, 9042, 9047, 9064, 9068, 9077, 9082, 9083, 9095, 9103, 9109, 9117, 
                                                9123, 9127, 9131, 9137, 9140, 9149, 9161, 9179, 9181, 9183, 9185, 9190, 9196, 9203, 
                                                9207, 9226, 9227, 9229, 9230, 9231, 9250, 9255, 9259, 9267, 9273, 9281, 9282, 9289, 
                                                9292, 9303, 9310, 9312, 9315, 9327, 9333, 9335, 9337, 9343, 9356, 9368, 9370, 9383, 
                                                9392, 9404, 9410, 9421, 9428, 9432, 9437, 9468, 9479, 9483, 9485, 9492, 9495, 9497, 
                                                9498, 9500, 9510, 9527, 9529, 9530, 9538, 9539, 9545, 9557, 9558, 9560, 9564, 9567, 
                                                9570, 9591, 9596, 9598, 9616, 9631, 9634, 9635, 9636, 9658, 9666, 9672, 9684, 9692, 
                                                9700, 9704, 9706, 9711, 9719, 9727, 9735, 9741, 9744, 9749, 9752, 9753, 9755, 9757, 
                                                9764, 9783, 9784, 9788, 9790, 9808, 9820, 9839, 9841, 9843, 9853, 9855, 9859, 9863, 
                                                9877, 9879, 9880, 9882, 9883, 9885, 9901, 9904, 9908, 9910, 9912, 9920, 9929, 9930, 
                                                9935, 9939, 9958, 9959, 9961, 9983, 10027, 10033, 10038, 10045, 10047, 10048, 10058, 
                                                10059, 10067, 10069, 10073, 10075, 10078, 10079, 10081, 10092, 
                                                10106, 10110, 10113, 10131)
                                             THEN '2'
                                            END AS ads_campaign,
                                            COUNT (action) FILTER(WHERE action = 'cancel_order') 
                                                           OVER (PARTITION BY order_id) AS is_canceled
                                       FROM user_actions
                                    ) AS qwerty1
                              WHERE ads_campaign IN ('1', '2') 
                                    AND is_canceled = 0
                            ) AS qwerty2
                      LEFT JOIN 
                                (SELECT order_id, 
                                        UNNEST(product_ids) AS product_id
                                   FROM orders
                                ) AS qwerty3 USING(order_id)
                      LEFT JOIN products USING(product_id)
                    )

SELECT concat('Кампания № ', ads_campaign) AS ads_campaign,
       concat('Day ', row_number() OVER (PARTITION BY ads_campaign ORDER BY date) - 1) AS day,
       round(sum(revenue) OVER (PARTITION BY ads_campaign ORDER BY date) / paying_users::decimal, 2) AS cumulative_arppu,
       cac
  FROM 
       (SELECT ads_campaign,
               time::DATE AS date,
               SUM (price) AS revenue
          FROM preparation_table
         GROUP BY 
               ads_campaign, time::DATE
        ) AS query1
  LEFT JOIN 
           (SELECT ads_campaign,
                   COUNT (distinct user_id) AS paying_users,
                   ROUND (250000 / COUNT (DISTINCT user_id)::decimal, 2) AS cac
              FROM preparation_table
             GROUP BY ads_campaign
           ) AS query2
           USING (ads_campaign)

### [**Cumulative ARPPU, CAC by № 1**](https://redash.public.karpov.courses/queries/65334/source#99933)

### [**Cumulative ARPPU, CAC by № 2**](https://redash.public.karpov.courses/queries/65331#99934)