# Курс «Основы Python»

## I. Переменные и основные типы данных

### Задание_1:

Давайте запрограммируем кота! Создайте три переменные: 

cat_name  со строкой как минимум из двух символов

cat_age с неотрицательным числом

is_fluffy с True или False

In [2]:
cat_name = 'Aldo'
cat_age = 3
is_fluffy = True

### Задание_2:

Давайте напишем программу для поиска длины гипотенузы. В переменных a и b уже записаны длины катетов прямоугольного треугольника. Создайте новую переменную c и сохраните в нее длину гипотенузы этого треугольника.

In [4]:
a = 3
b = 4

c = (a**2 + b**2)**0.5

5.0

### Задание_3:
В переменной father_age хранится возраст отца, а в переменной son_age — возраст сына. Посчитайте, через сколько лет отец будет вдвое старше сына. 

    Результат сохраните в переменную result. 


В поле для ответа не нужно создавать переменные father_age и son_age, сразу начинайте работать с ними, а наша система подставит в них разные значения и проверит ваш код на разных примерах.

In [6]:
father_age = 30
son_age = 2

result = father_age - 2*son_age
result

26

### Задание_4:

Заданы вещественные числа a, b и с – стороны треугольника. Вычислите периметр и площадь треугольника. Результат сохраните в переменные perimeter и area соответственно.

In [20]:
a = 3
b = 4
c = 5

perimeter = a + b + c
p = perimeter * 0.5
area = (p * (p-a) * (p - b) * (p - c)) ** 0.5

### Задание_5:

В переменную n сохранено целое число — количество секунд. Напишите программу, которая конвертирует заданное количество секунд n в часы, минуты и секунды. Результат сохраните в переменные hours, minutes, seconds.

То есть сначала нужно посчитать, сколько в число n поместилось целых часов, целых минут и сколько после этого осталось секунд.

In [45]:
n = 125  # кол-во секунд

hours = n//60//60
minutes = n//60 - hours*60
seconds = n-(hours*60*60)-(minutes*60)

print('hours: ',hours, '\nminutes: ', minutes, '\nseconds: ',seconds)

hours:  23
minutes:  33
seconds:  52

In [46]:
#  2 вариант
hours = n // 3600
minutes = (n - hours * 3600) // 60
seconds = (n - hours * 3600) % 60

### Задание_6:

В переменной price_new хранится цена килограмма бананов в числовом формате, 
а в переменной price_old — цена килограмма бананов год назад. 

Вычислите, на сколько процентов по модулю изменилась цена за год. 
Результат сохраните в переменную result. Результат округлите до двух знаков после запятой.

In [48]:
price_new = 24
price_old = 72

result = round( abs(price_new - price_old) *100 / price_old, 2)

66.67

### Задание_7:

Создайте переменные:

a со значением 5 типа int,

b со значением "10" типа str,

c со значением True типа bool.

В переменную my_sum сохраните сумму трех переменных, которые вы создали, преобразовав b и с к типу int.

In [54]:
a = 5
b = '10'
c = True

my_sum = a + int(b) + int(c)

### Задание_8:

В переменной a сохранено число с десятичной частью но в формате строки, например '3.14'. В переменную с сохраните целую часть из числа в переменной a.

In [57]:
a = '3.14'
c = int(float(a))

3

### Задание_9:

В переменной х уже сохранено целое положительное число. Вычислите x + x0x0x. Результат сохраните в переменную result.

То есть, если x = 2, то нужно вычислить 2 + 20202.

In [63]:
x = 4
y = str(x)+str(0)+str(x)+str(0)+str(x)
result = x + int(y)

40408

In [66]:
x = 8
result = x + int(f'{x}0{x}0{x}')
result

80816

### Задание_10:

Укажите все сравнения, в результате которых мы получим True.

- [x] 'ИВАН' < 'иван'- [x] 
'Python' < 'R
- [x] 
'big number' != 'bug numbe
- [ ] '
'ЯЯЯ' == 'Я
- [ ] Я'
'игра' >= 'икра'2.

### Задание_11:
В переменной m хранится целое положительное число — продолжительность сна в минутах. Если продолжительность сна составит от 7 до 9 часов включительно, то в переменную optimal_sleep_duration сохраните значение True. В противном случае присвойте этой переменной значение False.

In [80]:
m = 100   # продолжительность сна в минутах

# продолжительность сна составит от 7 до 9 часов включительно, то optimal_sleep_duration = True, если нет - False

if m //60  >= 7 and m //60  <=9:
    optimal_sleep_duration = True
else:
    optimal_sleep_duration = False
print(optimal_sleep_duration)

False

In [83]:
#  вариант 2
optimal_sleep_duration = m / 60 >= 7 and m / 60 <= 9
print(optimal_sleep_duration)

False

### Задание_12:
В переменной x хранится целое число. Проверьте, делится ли это число без остатка на 3 и на 7. Результат сохраните в переменную result. Переменная result должна иметь логический тип данных. 

Если x = 7, то  result = False. Если x = 21, то result = True.

In [86]:
x = 21

result = x%3 == 0 and x%7 == 0 
result

True

### Задание_13:

Сохраните в переменную square строку, которая выводит на экран прямоугольник 4 х 4, сформированный из звездочек, разделенных пробелом.

In [115]:
str1 = str('* '*3+'*')
square = f'{str1}\n{str1}\n{str1}\n{str1}'
print(square)

* * * *
* * * *
* * * *
* * * *

# II. Списки и множества

In [1]:
fruits = ['apple', 'banana', 'orange']
removed_fruit = fruits.pop()  # удалит 'orange' из списка и вернет его
print(fruits)  # ['apple', 'banana']
print(removed_fruit)  # 'orange'

['apple', 'banana']
orange

In [2]:
fruits = ['apple', 'banana', 'orange']
removed_fruit = fruits.pop(1)  # удалит 'banana' из списка и вернет его
print(fruits)  # ['apple', 'orange']
print(removed_fruit)  # 'banana'

['apple', 'orange']
banana

In [3]:
fruits = ['apple', 'banana', 'orange']
fruits.remove('banana')  # удалит 'banana' из списка
print(fruits)  # ['apple', 'orange']

['apple', 'orange']

In [5]:
my_set = {1, 3, 2, 2}
print(sorted(my_set)) # выведет [1, 2, 3]

[1, 2, 3]

### Задание_1:

В my_list сохранен список как минимум с двумя элементами.

В переменную first_item сохраните первый элемент списка.

В переменную last_item сохраните последний элемент списка.

В переменную reversed_list сохраните все элементы списка my_list в обратном порядке.

В переменную even_items сохраните все элементы my_list с четными индексами.

In [29]:
my_list = ['Anatoly', 'Fedor', 1, 2, 3]

first_item = my_list[0]
last_item = my_list[-1]
reversed_list = my_list[::-1]
even_items = my_list[::2]

print(first_item)
print(last_item)
print(reversed_list)
print(even_items)

Anatoly
3
[3, 2, 1, 'Fedor', 'Anatoly']
['Anatoly', 1, 3]

### Задание_2:

В переменную var_1 сохраните список с числами от -100 до 100 включительно с шагом в 1.

В переменную var_2 сохраните список с числами от 250 до 0 включительно с шагом в 2.

В переменную var_3 сохраните список со всеми нечетными числами от 100 до 200.

In [40]:
var_1 = list(range(-100,101,1))
var_2 = list(range(250, -1, -2))
var_3 = list(range(101, 201, 2))

### Задание_3:
В переменных  a и b хранятся числа — начало и конец диапазона. Напишите программу, которая вернет сумму всех чисел из этого диапазона. 

Сохраните значение в переменную result. 

Пример: 

a = 1

b = 3 

result = 6

In [47]:
a = 1
b = 3

result = sum(range(a,b+1))
result

6

### Задание_4:

Давайте потренируемся использовать различные методы списков. В переменной my_list сохранен не пустой список, в котором есть число 11. 

Найдите первый индекс числа 11 в my_list, сохраните индекс в переменную eleven_index.  

В переменную ten_count сохраните, сколько раз в списке my_list встречается число 10.

    my_list = [1, 10, 0, 10, 11]
    
    eleven_index = 4
    
    ten_count = 2
    
    
    my_list = [11, 2, 0, 6]
    
    eleven_index = 0
    
    ten_count = 0

In [54]:
my_list = [1, 10, 0, 10, 11]

eleven_index = my_list.index(11)
ten_count = my_list.count(10)

### Задание_5:

В student_names сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.

В scores сохранен список из десяти целых чисел, удалите из него второй, пятый и последний элемент из исходного списка. 
Будьте внимательны, если вы, например, сначала удалите второй элемент, то индекс пятого элемента из сходного списка сместится.

В lessons сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту. 

Пример:

    student_names = ['Ian', 'Ivan']

    scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

    lessons = ['Python', 'Analytics']

In [60]:
student_names = ['Ian', 'Ivan']

student_names.append('Anatoly')
student_names.append('Oksana')

['Ian', 'Ivan', 'Anatoly', 'Oksana']

In [64]:
scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

scores.pop(1)
scores.pop(3)
scores.pop(-1)
scores

[0, 2, 3, 5, 6, 7, 8]

In [66]:
lessons = ['Python', 'Analytics']
lessons.sort()
lessons

['Analytics', 'Python']

In [ ]:
----

In [68]:
my_list = [1, 2, 3, -2]

# так правильно
my_list_ordered = sorted(my_list) # функция sorted возвращает новый список, не изменяет список my_list
print(my_list_ordered) # получим [-2, 1, 2, 3]
print(my_list) # получим [1, 2, 3, -2]

[-2, 1, 2, 3]
[1, 2, 3, -2]

### Задание_6:

Создайте кортеж с названиями дней недели и сохраните его в переменную days_of_the_week.

    'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'

In [70]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
days_of_the_week

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

### Задание_7*:

В переменной numbers_list сохранен список с целыми числами. В списке минимум два разных целых числа.

В переменную numbers_list_ordered сохраните все числа из списка numbers_list, отсортированные по убыванию. 
При этом сам список numbers_list не должен изменяться.

В переменную numbers_set сохраните множество из уникальных чисел из списка numbers_list. 
Дополните это множество следующим целым числом после максимального числа из numbers_list.

В переменную numbers_frozenset сохраните неизменяемое множество из всех уникальных чисел из списка numbers_list, 
кроме минимального числа.

In [294]:
# numbers_list = [-1, -5, 1, 1, -1, 4, 4, 2]
numbers_list = [1, 1, 2, 2, 3, 3, 4, 4]

print('numbers_list: ', numbers_list)

numbers_list:  [1, 1, 2, 2, 3, 3, 4, 4]

In [295]:

numbers_list_ordered = sorted(numbers_list, reverse=True)

print('numbers_list_ordered: ', numbers_list_ordered)

numbers_set = set(numbers_list)
numbers_set.add(max(numbers_list) + 1)

print('numbers_set: ', numbers_set)


numbers_frozenset = frozenset(sorted(set(numbers_list))[1:]) 

print('numbers_frozenset: ', numbers_frozenset)

numbers_list_ordered:  [4, 4, 3, 3, 2, 2, 1, 1]
numbers_set:  {1, 2, 3, 4, 5}
numbers_frozenset:  frozenset({2, 3, 4})

### Задание_8:

Даны два списка list_1 и list_2. Отсортируйте list_1 по возрастанию, а list_2 по убыванию. 
Объедините list_1 и list_2 в один отсортированный по возрастанию список list_3.  
В переменную list_3_len сохраните длину  list_3.

In [1]:
list_1 = [1, 5, 3]
list_2 = [2, 8]

In [8]:
list_1.sort()
list_2.sort(reverse= True)

list_3 = (list_1+list_2)   # v.2:  list_3.extend(list_1), list_3.extend(list_2)
list_3.sort()
print(list_3)

list_3_len = len(list_3)

list_3_len

[1, 2, 3, 5, 8]

5

### Задание_9:

В переменной menu хранится множество всех позиций меню кофейни, а в переменной stop — множество позиций меню кофейни, недоступных для заказа сегодня. Сохраните в переменную menu_today позиции меню, которые доступны для заказа сегодня.  

Пример:

    menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte', 
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
        
    stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

    menu_today = {'Americano', 'Flat White', 'Latte', 'Chocolate Chip Cookie'}

In [12]:
menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte', 
    'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

menu_today = menu.difference(stop)
menu_today

{'Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte'}

### Задание_10:

В переменной my_set множество (set) из чисел. В переменной to_delete число, которое нужно удалить из my_set, если оно там есть. Если такого числа нет в my_set ничего делать не надо.

In [23]:
my_set = {0, 10, 100}
to_delete = 0

my_set.discard(to_delete)     # удаляет из множества значение, если удаляемого значения во множестве нет, то ничего не происходит (без ошибок) 
my_set

{10, 100}

### Задание_11:

В students хранится множество студентов it-центра МАИ. 
Студент, имя которого записано в new_student, 
перевелся в МАИ из другого института, его имя нужно добавить в students. 
В переменной churn_student — студент, который хочет перевестись из МАИ в другой институт, его имя нужно убрать из students.

In [30]:
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'


students.add(new_student)
students.discard(churn_student)
students

{'Василенко Анна',
 'Дудочкин Илья',
 'Захарова Мария',
 'Кравченко Виталий',
 'Некрасов Игорь'}

### Задание_12:

В переменной da_students хранятся имена студентов курса "Аналитик данных", а в переменной dv_students — имена студентов курса "Визуализация данных". Сохраните в переменную students студентов, которые обучаются на обоих курсах.

Порядок элементов в students не имеет значения.

In [33]:
# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}

# результат
students = da_students.intersection(dv_students)

students

{'Ershova Anna', 'Loginov Vladislav'}

### Задание_13:

В переменной a хранится список целых неотрицательных чисел. Количество чисел четное.
Напишите программу, которая будет делить этот список пополам, определять суммы чисел в половинах списка (sum_left и sum_right). 
Если sum_left равно sum_right, то сохраните в переменную result значение True,  в противном случае — False.

In [43]:
a = [1, 6, 4, 3]

len_a = len(a)
count_values = int(len(a)/2)


# сумма чисел в левой половине списка "а" 
sum_left = sum(a[:count_values])                # v.2:    sum_left = sum(a[:(len(a) // 2)])

# сумма чисел в правой половине списка "а" 
sum_right = sum(a[count_values:])               # v.2:   sum_right = sum(a[(len(a) // 2) : ])


# If sum_left = sum_righ then result = True, else: result = False
result = sum_left == sum_right

# -------------------------------------
print('Список а: ', a)
print('Длина списка: ', len_a)

print('sum_left списка: ', sum_left)
print('sum_right списка: ', sum_right)
print('sum_right = sum_left? ', result)

Список а:  [1, 6, 4, 3]
Длина списка:  4
sum_left списка:  7
sum_right списка:  7
sum_right = sum_left?  True

### Задание_14:

Даны список целых чисел a и число b. Удалите из a первое и последнее вхождение числа b.

In [49]:
a = [1, 2, 2, 1, 3, 2, 1, 3]
b = 1 

#-> a = [2, 2, 1, 3, 2, 3]

a.remove(b)
a.reverse()
a.remove(b)
a.reverse()

#-> a = [2, 2, 1, 3, 2, 3]

[2, 2, 1, 3, 2, 3]

# III. Словари

In [17]:
course_info = {'course_names':{'eng':'python_intro', 'ru':'Введение в Питон'},
              'teacher':'Karpov',
               'n_lessons': 10,
               'n_students': 10399,
               'school_name': 'KarpovCourses'
              }

In [3]:
course_info['teacher']

'Karpov'

In [6]:
keys_list = list(course_info.keys())
keys_list

['course_name', 'teacher', 'n_lessons', 'n_students', 'school_name']

In [8]:
values_list = list(course_info.values())
values_list

['python_intro', 'Karpov', 10, 10399, 'KarpovCourses']

In [11]:
list(course_info.items())
# список из пар словаря

[('course_name', 'python_intro'),
 ('teacher', 'Karpov'),
 ('n_lessons', 10),
 ('n_students', 10399),
 ('school_name', 'KarpovCourses')]

In [16]:
course_info.get('skksksksk')
# get(*) - если этот ключ в словаре есть, то выводит его значение, если нет - то ничего не происходит (без вывода ошибок)

In [20]:
course_info['course_names']['ru']

'Введение в Питон'

In [23]:
lang_course_name = 'eng'

In [25]:
course_info['course_names'][lang_course_name]

'python_intro'

In [26]:
lang_course_name = 'ru'

In [27]:
course_info['course_names'][lang_course_name]

'Введение в Питон'

------------------

In [ ]:
# создаем словарь, который хранит информацию о студентах
students = {
    'Василий': {'возраст': 23, 'курс': 3},
    'Мария': {'возраст': 20, 'курс': 2},
    'Петр': {'возраст': 22, 'курс': 2},
    'Ольга': {'возраст': 21, 'курс': 3}
}
# выводим информацию о студенте с именем "Василий"
print(students['Василий'])
# выводим возраст студента "Мария"
print(students['Мария']['возраст'])

### Задание_1:

В переменную cities_population  сохраните словарь с тремя ключами: 'Москва', 'Париж', 'Токио'. 
В качестве значений сохраните населедение этих городов в млн. человек: 11.98, 2.16, 13.96. 
Ключами нашего словаря будут строки, значениями — числа в формате float.

In [32]:
cities_population = {'Москва': 11.98, 'Париж': 2.16, 'Токио': 13.96}
cities_population

{'Москва': 11.98, 'Париж': 2.16, 'Токио': 13.96}

---------------

In [36]:
# Оператор zip() объединяет элементы из нескольких последовательностей. 
x = [1, 2, 3]
y = ['a', 'b', 'c']
result = zip(x,y)
list(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Задание_2:

Дан словарь dict_input. Поменяйте ключи и значения местами. Результат сохраните в result. 

Пример: 

dict_input = {"1": 11, "2": 22, "3":   33}
result = {11: "1", 22:"2", 33:"3"}t.

In [35]:
dict_input = {"1": 11, "2": 22, "3": 33}
# result = {11: "1", 22:"2", 33:"3"}

In [53]:
#  Вариант 1
dict_input = {'cost_price': 225.89, 'sell_price': 550.0, 'eclairs': 100}
result = {
    list(dict_input.values())[0]:list(dict_input)[0], 
    list(dict_input.values())[1]:list(dict_input)[1],
    list(dict_input.values())[2]:list(dict_input)[2]
}
print(result)

{225.89: 'cost_price', 550.0: 'sell_price', 100: 'eclairs'}

In [57]:
# Вариант 2
dict_input = {"1": 11, "2": 22, "3": 33}

result = dict( zip( dict_input.values(), dict_input.keys()) ) 

print(result)

{11: '1', 22: '2', 33: '3'}

In [60]:
# Вариант 3
dict_input = {"1": 11, "2": 22, "3": 33}

result = { b : a for a, b in dict_input.items()}

print(result)

{11: '1', 22: '2', 33: '3'}

### Задание_3:

Катя — владелец небольшого кондитерского производства, на котором изготавливаются эклеры. 
У нас  есть словарь data, в котором содержится информация о себестоимости единицы товара cost_price, 
продажной цене sell_price и количество товара eclairs. 

Нужно посчитать, какую прибыль Катя получает после продажи своей продукции. 

Результат сохраните в переменную result, округлив сумму до целого числа.

In [67]:
data = {
  "cost_price": 225.89,
  "sell_price": 550.00,
  "eclairs": 100
}
result = round((data['sell_price'] - data['cost_price']) * data['eclairs'])
result

32411

### Задание_4:

Есть словарь student, в котором хранятся имя студента и список его оценок. 
В result  сохраните словарь с именем студента и самой высокой его оценкой.

In [ ]:
Пример:

student = {"name": "Igor", "notes": [4, 5, 4]}
result = {"name": "Igor", "max_note": 5}

In [73]:
max_note = max(list(student['notes']))

5

In [82]:
student = {"name": "Igor", "notes": [4, 5, 4]}

# Вариант 1
result = {"name": list(student.values())[0], 'max_note' : max(list(student['notes']))}

# Вариант 2
result = {"name": student["name"], "max_note": max(student["notes"])}

### Задание_5:

Антон учится в karpov.courses. В словаре anton_courses хранится информация о завершенных им курсах и количестве набранных баллов. 

Данные в словаре хранятся в формате ключ — название курса, значение — количество баллов в числовом формате. 

Антон завершил обучение на курсе HardML и набрал 120 баллов. Добавьте в словарь anton_courses эту информацию. 

В переменную courses сохраните список пройденных курсов. 

В переменную StartML сохраните количество баллов, набранное Антоном на одноименном курсе, эта информация есть в словаре.

In [86]:
anton_courses = {'SimulatorAnalyst': 56, 
                 'StartML': 87, 
                 'DataAnalyst': 140}

anton_courses['HardML'] = 120
courses = list(anton_courses.keys())
StartML = anton_courses['StartML']

87

### Задание_6:

У нас есть магазин одежды LARA. В словаре shop_stock хранится информация о товарах, имеющихся в наличии на складе магазина. 

Информация указана в формате ключ — артикул товара, значение — количество единиц. 

В магазин поставили новую партию товаров, в словаре shop_new_goods записана информация о поставленых товарах и их количестве.
 
Создайте словарь result, который будет содержать информацию и о товарах на складе, и о товарах из новой поси.и.вк
 
Известно, что если на складе оставалась хотя бы одна единица какого-то типа товара, то товара этого типа не было в поставк.

In [97]:
shop_stock = {"2358241350-50": 1, "2358000350-30": 24, "2358241350-00": 3}
shop_new_goods = {"2358241350-60": 10}

result = shop_stock.copy()
result.update(shop_new_goods)

{'2358241350-50': 1,
 '2358000350-30': 24,
 '2358241350-00': 3,
 '2358241350-60': 10}

### Задание_7:

Магазин ВкуссЧилл хранит информацию о имеющихся в наличии фруктах и овощах в словаре input_dict в формате ключ — название фрукта или овоща, значение — количество килограмм в наличии. 

Посчитайте, сколько всего килограммов фруктов и овощей имеется в магазине. Результат сохраните в переменную result.

In [99]:
input_dict = {"морковь": 10.44, "капуста": 5.06, "клубника": 3}

# result = sum(list(input_dict.values()))
result = sum(input_dict.values())

# result = 18.5

### Задание_8:

Имеется словарь courses, содержащий информацию о стоимости обучения в karpov.courses в формате:
    
    ключ — название курса
    
    значение — стоимость обучения

Найдите цену самого дорогого курса. Результат сохраните в  result.

In [111]:
courses = {"Python": 80000, "SQL": 300000}
result = max(courses.values())
# result = 300000

### Задание_9:

В базе данных МАИ информация о студентах и кафедрах, к которым они прикреплены, хранится в словаре kaf_students в формате: 
    
    ключ — ФИ студента

    значение — код кафедры. 

После второго курса по итогам последних двух сессий был составлен рейтинг студентов, на основе которого произошло перераспределение студентов по кафедрам. Часть студентов продолжила обучение на своей кафедре, а некоторые студенты перешли с одной кафедры на другую. Информация о студентах, перешедших на новую кафедру, хранится в словаре new_kaf_students. 

Обновите информацию в словаре kaf_students, добабвив в словарь данные из new_kaf_students.

In [112]:
kaf_students  = {'Карпов Анатолий Дмитриевич': 100}
new_kaf_students =  {'Иванчей Иван Иванович': 200}


kaf_students.update(new_kaf_students)
kaf_students
# kaf_students = {'Карпов Анатолий Дмитриевич': 100, 'Иванчей Иван Иванович': 200}

{'Карпов Анатолий Дмитриевич': 100, 'Иванчей Иван Иванович': 200}

----------

frozenset можно использовать в качестве ключа словаря/

Предположим, мы хотим в качестве ключа, хранить сразу пару значений — имя пользователя и его возраст.
    
students_courses = {    }
name_age = frozenset(['Anatoly', 3
    ])
students_courses.update({name_age: ['Python', 'C++
    ]})
print(students_courses) # => {frozenset({32, 'Anatoly'}): ['Python', 'C

Это один из примеров практического применения frozenset, если мы хотим создать словарь, где сам ключ — это массив из нескольких элементов, 
то frozenset сможет нам помочь. Список или обычный set использовать в качестве ключа для словаря не получится.++']}

# IV. Строки

In [116]:
name = 'Mikita Kopats'
name[-1::-1]

'stapoK atikiM'

In [117]:
list(name)

['M', 'i', 'k', 'i', 't', 'a', ' ', 'K', 'o', 'p', 'a', 't', 's']

In [118]:
set(name)

{' ', 'K', 'M', 'a', 'i', 'k', 'o', 'p', 's', 't'}

In [119]:
name.lower()

'mikita kopats'

In [120]:
name.upper()

'MIKITA KOPATS'

In [123]:
name.split(' ')

['Mikita', 'Kopats']

In [127]:
course_info = {'course_names':{'eng':'Python Intro', 'ru':'Введение в Питон'},
              'teacher':'Karpov',
               'n_lessons': 10,
               'n_students': 10399,
               'school_name': 'KarpovCourses',
               'start_date': '2024-07-26'
              }

In [129]:
user_name = 'Mikita Kopats'
course_name = course_info['course_names']['eng']
start_date = course_info['start_date']

In [137]:
# Вариант 1, f''
greetings_text = f'''Hi, {user_name}!
Welcom to the {course_name}!
The course will start on {start_date}.
'''

print(greetings_text)

Hi, Mikita Kopats!
Welcom to the Python Intro!
The course will start on 2024-07-26.

In [138]:
# Вариант 2, format
greetings_text = '''Hi, {}!
Welcom to the {}!
The course will start on {}.
'''.format(user_name, course_name, start_date)

print(greetings_text)

Hi, Mikita Kopats!
Welcom to the Python Intro!
The course will start on 2024-07-26.

### Задание_1:
В переменных str_1 и str_2 сохранены две строки. 
    
Если все буквы в строках одинаковые, вам нужно сохранить в переменную is_the_same_letters значение True, 
если буквы в строках отличаются —сохраните в переменную значение False.

Мы не учитываем порядок букв, их количество и регистр. Сами переменные уже созданы, начинайте сразу готовить код для работы с ними.

str_1 = 'AaB'
str_2 = 'Ab'
is_the_same_letters = True 

str_1 = 'Aa'
str_2 = 'AaB'
is_the_same_letters = False

In [147]:
str_1 = 'AaB'
str_2 = 'Ab'

In [153]:
is_the_same_letters = set(str_1.upper()) == set(str_2.upper())
is_the_same_letters

True

In [155]:
set(str_1.upper())

{'A', 'B'}

### Задание_2:
В переменной x содержится число с десятичной частью но в формате строки. 
В переменную y сохраните целое число, которое равняется десятичной части числа x.

In [ ]:
Примеры:

    x = '3.14' 
    y = 14 
 
    x = '2.002' 
    y = 2

In [163]:
x = '3.14' 
y = int(x.split('.')[1])

### Задание_3:

Даны две строки str_1 и str_2. Сохраните в result True, если str_1 является анаграммой str_2, и False в противном случае. 

Регистр букв (большая или маленькая буква) не должен влиять на работу программы. 

То есть 'Кот' и 'Ток' - это валидная анаграмма.

Анаграмма — это слово или фраза, образованная путем перестановки букв другого слова или фразы, обычно с использованием 
всех исходных букв ровно один раз.

In [173]:
str_1 = "Привет"
str_2 = "Провал"
# result = False

In [187]:
str_1 = "Кот"
str_2 = "Ток"
# result = True

In [189]:
# вариант только для "зеркальной" анограммы 
result = str_1.lower()[-1::-1] == str_2.lower()
result

True

In [211]:
# вариант для анограммы как слов с одинаковым набором букв 
str_1 = "автор"
str_2 = "товар"
result = sorted(str_1.lower()) == sorted(str_2.lower())
result

True

### Задание_4:
В переменную a сохранено некоторое предложение, в котором могут быть добавлены лишние пробелы.  
Напишите программу, которая будет убирать из а лишние пробелы и сохранять результат в переменную result. 
Все слова должны быть разделены одним пробелом, а в начале и конце предложения пробелов быть не должно.

In [213]:
a = "Я     изучаю   новый язык      программирования.   "
# result = "Я изучаю новый язык программирования."

In [238]:
result = " ".join(a.split())
result

'Я изучаю новый язык программирования.'

### Задание_5:
Напишите программу, основываясь на вводе и выводе в примерах. Вводом будет строка a. Результат сохраните в result.

In [ ]:
a = "div*2"
# result = "<div></div><div></div>"

a = "p*1" 
# result = "<p></p>"

a = "li*3"
# result = "<li></li><li></li><li></li>"

In [270]:
a = "div*2"

In [272]:
# Вариант 1
f'<{a.split('*')[0]}></{a.split('*')[0]}>' * int(a.split('*')[1])

'<div></div><div></div>'

In [271]:
# Вариант 2
('<'+ a.split('*')[0] + '>' + '</' + a.split('*')[0] + '>') * (int(a.split('*')[1]))

'<div></div><div></div>'

In [274]:
# Вариант 3
tag = a.split('*')[0]
num = a.split('*')[1]
result = ("<" + tag + ">" + "</" + tag + ">") * int(num)

'<div></div><div></div>'

### Задание_6:
Напишите программу, которая будет принимать строку из слов и возвращать строку, в которой эти слова будут отсортированы в лексикографическом порядке. Исходная строка содержится в переменной x, результат сохраните в result.

In [291]:
x = 'У лукоморья дуб зелёный'
# result = 'У дуб зелёный лукоморья'

In [283]:
sorted(x.split())

['У', 'дуб', 'зелёный', 'лукоморья']

In [292]:
result = " ".join(sorted(x.split()))
result

'У дуб зелёный лукоморья'

### Задание_7:
Посчитайте, сколько раз в предложении x встречается строка y. Результат сохраните в переменную result.

In [293]:
x = 'На подоконнике в гостиной у бабушки росли цветы, цветы были красные и желтые, очень красивые цветы.'
y = 'цветы'
# result = 3

In [294]:
result = x.count(y)
result

3

### Задание_8:
Напишите программу, которая будет принимать номер кредитной карты card и возвращать номер карты, в котором будут видны только последние 4 цифры. Остальные цифры должны заменяться звездочками. Результат сохраните в result.

In [295]:
card = '5468350018455833'
# result = '************5833'

In [307]:
result = '*'*(len(card)-4)+( card[-4::1] )
result

'************5833'

### Задание_9:
В переменной а сохранено предложение. Удалите из предложения все вхождения слова или символа b. Результат сохраните в result.

In [310]:
a = 'Я помню чудное мгновенье'
b = 'о'
# result = 'Я пмню чудне мгнвенье'

In [314]:
result = a.replace(b, "")
result

'Я пмню чудне мгнвенье'

# V. IF ELIF ELSE

In [16]:
n = 0
if n:
   print('Условие выполнено')

In [17]:
n = 10
if n:
   print('Условие выполнено')

Условие выполнено

In [18]:
n = -5
if n:
   print('Условие выполнено')

Условие выполнено

In [19]:
s = 'Oksana'
if s:
   print('Условие выполнено')

Условие выполнено

In [20]:
s = ''
if s:
   print('Условие выполнено')

In [21]:
d = {}
if d:
   print('Условие выполнено')

In [23]:
score_1 = 85
score_2 = 82

threshold = 90
threshold_last_chance = 70

student_name = 'Макс'

In [25]:
if score_1 > threshold and score_2 > threshold:
    print(f'Студент {student_name} поступил на спец. факультет.')

elif score_1 > threshold_last_chance and score_2 > threshold_last_chance:
    print(f'Студент {student_name} не поступил на спец. факультет. Но пока может ожидать второй тур.')
else:
    print(f'Студент {student_name} не поступил на спец. факультет. {min(score_1, score_2)} баллов по одному из предметов было не достаточно.')
    
print(f'\nДанные о других студентах ожидают верификации.')

Студент Макс не поступил на спец. факультет. Но пока может ожидать второй тур.

Данные о других студентах ожидают верификации.

In [28]:
x = 3
result = "четное" if x % 2 == 0 else "нечетное"
print(f"x - {result}")

x - нечетное

### Задание_1: 
В переменных a и b заданы значения длины и ширины прямоугольника соответственно. Проверьте, является ли этот прямоугольник квадратом.

Сохраните в переменную result значение True, если это квадрат, иначе False.

In [30]:
# Пример
a = 121 
b = 100 

result = True if a == b else False 
result

True

### Задание_2: 
В переменных a и b заданы два числа отличных по модулю. Квадрат какого числа больше? Сохраните это число в result.

In [31]:
# Пример
a = 2 
b = -3 

result = a if abs(a) > abs(b) else b

-3

### Задание_3: 
Катя и Дима решили купить квартиру в Москве. Семейный бюджет ограничен, поэтому им подходят следующие варианты:

Стоимость не более 15 млн, площадь не менее 50 квадратных метров, удаленность от метро не более 25 минут пешком
.
Стоимость не более 13 млн, площадь не менее 35 квадратных метров, удаленность от метро не более 5 минут пешком.

Напишите программу, которая получает на вход стоимость квартиры p, площадь s и удаленность от метро d, 
и сохраняет в переменную result сообщение о том, подходит квартира или нет в формате True или False.

In [33]:
#Пример 

p = 12950000            # стоимость
s = 32                  # площадь
d = 13                  # удаленность от метро

# result = False

In [41]:
print('Введите стоимость квартиры: ')
p = float(input())
print('Введите площадь в квадратных метрах: ')
s = float(input())
print('Введите удаленность от метро в минутах ходьбы: ')
d = float(input())

if (p <= 15000000) and (s >= 50) and (d <= 25):
    result = True
elif p <= 13000000 and s >= 35 and d <= 5:
    result = True
else:
     result = False
print(result)

Введите стоимость квартиры:

 12950000

Введите площадь в квадратных метрах:

 32

Введите удаленность от метро в минутах ходьбы:

 32

False

### Задание_4:
Катя завершила обучение на курсе Hard ML и набрала K баллов за решение задач. Чтобы получить сертификат о прохождении курса, необходимо набрать не менее M баллов. Если Катя набрала от L баллов, то получит сертификат с отличием. 

Переменные K, M и L уже определены. 

Напишите программу, которая сохранит в переменную result информацию о результатах прохождения курса в следующем формате:

        “Недостаточно баллов”, если Кате не хватило баллов для получения сертификата,
        “Сертификат выдан”, если Катя набрала количество баллов, необходимое для получения сертификата,
        “Выдан сертификат с отличием” если Катя набрала ≥ L баллов.

In [43]:
#Пример 1
K = 121 # количество баллов, полученных Катей
M = 100 # количество баллов, необходимое для получения сертификата
L = 150 # количество баллов, необходимое для получения сертификата с отличием

if K < M:
    result = 'Недостаточно баллов'
elif K < L:
    result = 'Сертификат выдан'
else:
    result = 'Выдан сертификат с отличием'
    
print(result)

# result = "Сертификат выдан"

Сертификат выдан

### Задание_5:
Компания решила выплатить сотрудникам премию в размере:
    
    2 оклада, если его стаж работы ≥ 2 года
    5 окладов, если стаж работы ≥ 5 лет
    10 окладов, если стаж работы ≥ 15 лет
    
В переменной x — зарплата сотрудника, в переменной y — стаж. Вычислите размер премии, результат сохраните в переменную result.

In [44]:
x = 150000
y = 3

result = 0

if y >= 15:
    result = x*10
elif y >= 5 and y < 15:
    result = x*5
elif y >= 2 and y < 5:
    result = x*2
result

300000

### Задание_6:
Дан словарь dict_age, в котором хранится информация о возрасте трех братьев в формате:
    
ключ — имя    
значение — возраст, число целых лет.

Если возраст у братьев разный и получается однозначно определить среднего брата, сохраните имя среднего брата в переменную result.  

Если хотя бы у двух братьев возраст одинаковый, то сохраните в переменную result пустую строку без пробела: ''.

In [100]:
dict_age = {'Антон': 5, 
            'Денис': 14, 
            'Борис': 9}

In [79]:
#  нахождение самого старшего брата
if list(dict_age.values())[0] == list(dict_age.values())[1] and list(dict_age.values())[0] == list(dict_age.values())[2]:
    result = ''
else:
    if list(dict_age.values())[0] > list(dict_age.values())[1] and list(dict_age.values())[0] > list(dict_age.values())[2]:
        result = list(dict_age.keys())[0]
        
    elif list(dict_age.values())[1] > list(dict_age.values())[0] and list(dict_age.values())[1] > list(dict_age.values())[2]:
        result = list(dict_age.keys())[1]
        
    elif list(dict_age.values())[2] > list(dict_age.values())[1] and list(dict_age.values())[2] > list(dict_age.values())[0]:
        result = list(dict_age.keys())[2]    
    else:
        result = ''
result

'Денис'

In [81]:
list(dict_age.keys())

['Антон', 'Денис', 'Борис']

In [84]:
list(dict_age.values())

[5, 14, 9]

In [95]:
sorted(list(dict_age.values()))

[5, 9, 14]

In [101]:
#  нахождение среднего брата

if list(dict_age.values())[0] == sorted(list(dict_age.values()))[1] and list(dict_age.values())[0] != list(dict_age.values())[2] and list(dict_age.values())[0] != list(dict_age.values())[1]:
    result = list(dict_age.keys())[0]
elif list(dict_age.values())[1] == sorted(list(dict_age.values()))[1] and list(dict_age.values())[1] != list(dict_age.values())[2] and list(dict_age.values())[1] != list(dict_age.values())[0]:
    result = list(dict_age.keys())[1]
elif list(dict_age.values())[2] == sorted(list(dict_age.values()))[1] and list(dict_age.values())[2] != list(dict_age.values())[0] and list(dict_age.values())[2] != list(dict_age.values())[1]:
    result = list(dict_age.keys())[2]    
else:
    result = ''

result

'Борис'

In [ ]:
# вариант 2. Нахождение среднего брата

ages = list(dict_age.values())
if len(set(ages)) == 3:
    middle_index = ages.index(sorted(ages)[1])
    result = list(dict_age.keys())[middle_index]    
else:
    result = ''

### Задание_7:

Напишите программу, которая будет принимать длины сторон треугольника a, b и c, определять, является ли он прямоугольным и сохранять результат проверки в result в формате True или False. 

        Прямоугольный треугольник — это треугольник, в котором один угол прямой (то есть 90 градусов).
        Самая длинная сторона (гипотенуза) не обязательно будет последним аргументом.
        Все аргументы будут целыми числами.

Квадрат гипотенузы равен сумме квадратов катетов (двух других сторон)

In [120]:
a = 3
b = 5
c = 4
# result = True

# a = 70
# b = 130
# c = 110
# result = False

In [135]:
triangle = sorted([a, b, c])
if triangle[2] == ( triangle[0]**2  +  triangle[1]**2   )**0.5:
    result = True
else:
    result = False
result

True

### Задание_8:
Напишите программу, которая будет высчитывать либо длину окружности, либо периметр квадрата, исходя из переданных аргументов.

На вход подаются буква в переменной f и число в переменной v.

Буква будет определять геометрическую фигуру:

    'S' — квадрат
    'С' — круг

Если буквой задан квадрат, то второй аргумент, число v, считается длиной стороны квадрата. В противном случае число считается радиусом круга.

Результат сохраните в result

Число pi возмите равным 3.14.

In [158]:
f = 'S'
v = 9


if f == 'S':
    result = v*4
else: 
    result = v*2*3.14
result

36

# VI. Циклы

In [162]:
my_list = [4, 6, 8, 10, 12]
my_list_2 = []

for i in my_list:
    new_element = i - 1
    my_list_2.append(new_element)
    print(my_list_2)

[3]
[3, 5]
[3, 5, 7]
[3, 5, 7, 9]
[3, 5, 7, 9, 11]

In [163]:
my_list = [4, 6, 8, 10, 12]
my_list_2 = []

for i in my_list:
   if i> 10:
       my_list_2.append(i+1)
   else:
        my_list_2.append(i-1)

print(my_list_2)

[3, 5, 7, 9, 13]

In [169]:
# распакоўка 

my_list = [[4, 6], [8, 10], [12, 1, 76, 10]]
my_list_2 = []

for inner_list in my_list:
    for i in inner_list:
        my_list_2.append(i)

print(my_list_2)

[4, 6, 8, 10, 12, 1, 76, 10]

In [ ]:
-------------

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = []
for i in numbers:
    if i % 2 == 0:
        even_numbers.append(i)

# вариант 2

numbers = [1, 2, 3, 4, 5]
even_numbers = [x for x in numbers if x % 2 == 0]

In [182]:
my_list = ['adc', 'lfkk', 'ewep', 'eqx', 'perf', 'uysnf']
target_letter = 'p'
string_info = {}

#  необходимо вывести первый найденный элемент из my_list в словарь my_list_2 по условию, 
#                 где ключ - выражение, содержащее target_letter, значение - индекс элемента в my_list


for i, s in enumerate(my_list):
    print(i, s)
    if target_letter not in s:
        continue
    string_info[s] = i
    break

string_info

#  for i, s in enumerate(my_list):   i - номер итерации, s - само значение из списка

0 adc
1 lfkk
2 ewep

{'ewep': 2}

In [183]:
list(enumerate(my_list))

[(0, 'adc'), (1, 'lfkk'), (2, 'ewep'), (3, 'eqx'), (4, 'perf'), (5, 'uysnf')]

In [ ]:
------------

In [185]:
# Пример функции enuenumerate
orders = [
    {"номер": "001", "клиент": "John", "дата": "2022-01-01", "статус": "в обработке"},
    {"номер": "002", "клиент": "Alice", "дата": "2022-01-02", "статус": "выполнен"},
    {"номер": "003", "клиент": "Bob", "дата": "2022-01-03", "статус": "выполнен"},
    {"номер": "004", "клиент": "Eva", "дата": "2022-01-04", "статус": "в обработке"},
]
for index, order in enumerate(orders, start=1):
    print(f"Заказ {index}:")
    for key, value in order.items():
        print(f"{key}: {value}")
    print()

Заказ 1:
номер: 001
клиент: John
дата: 2022-01-01
статус: в обработке

Заказ 2:
номер: 002
клиент: Alice
дата: 2022-01-02
статус: выполнен

Заказ 3:
номер: 003
клиент: Bob
дата: 2022-01-03
статус: выполнен

Заказ 4:
номер: 004
клиент: Eva
дата: 2022-01-04
статус: в обработке

In [ ]:
---------------

In [186]:
employees = [
    {'name': 'John', 'qualification': 'low'},
    {'name': 'Alice', 'qualification': 'high'},
    {'name': 'Bob', 'qualification': 'medium'},
    {'name': 'Eva', 'qualification': 'low'},
    {'name': 'Mike', 'qualification': 'high'},
    {'name': 'Lisa', 'qualification': 'medium'}
]
found_high_qualification_employee = False
for employee in employees:
    qualification = employee['qualification']
    if qualification == 'low':
        continue  # Пропускаем работника с низкой квалификацией
    elif qualification == 'high':
        found_high_qualification_employee = True
        high_qualification_employee       = employee
        break  # Найден работник с высокой квалификацией, прекращаем поиск
if found_high_qualification_employee:
    print("Работник с высокой квалификацией найден!")
    print(high_qualification_employee)
else:
    print("Работник с высокой квалификацией не найден.")

Работник с высокой квалификацией найден!
{'name': 'Alice', 'qualification': 'high'}

In [ ]:
-------------------------

In [204]:
#  цикл for

my_list     = list(range(100))
sum_numbers = 0

for number in my_list:
    if sum_numbers  +  number < 25:
        sum_numbers += number        # sum_numbers + number
        print(sum_numbers)
    else:
        break

0
1
3
6
10
15
21

In [205]:
#  цикл while

my_list = list(range(100))

elements_sum = 0 
i            = 0

while elements_sum < 25:
    print(i, elements_sum)
    elements_sum += my_list[i]   # elements_sum + my_list[i]
    i            += 1            #   i = i + 1

0 0
1 0
2 1
3 3
4 6
5 10
6 15
7 21

In [242]:
password   = 'secret'
count_shot = 3 

while count_shot > 0:
    user_password = input('Введите пароль:')
    
    if user_password == password:
        print(f'Пароль верный. Ожидайте загрузки [нихуя не произойдёт, бро, съебывай]')
        break
    else:
        if count_shot - 1 == 0:
            print('Пароль не верный.\nКоличество попыток превышено - доступ заблокирован.')
            break
        else:
            count_shot -= 1
            print(f'Пароль неверный, повторите попытку. Количество оставшихся попыток: {count_shot}.')

Введите пароль: 123

Пароль неверный, повторите попытку. Количество оставшихся попыток: 2.

Введите пароль: 123

Пароль неверный, повторите попытку. Количество оставшихся попыток: 1.

Введите пароль: 123

Пароль не верный.
Количество попыток превышено - доступ заблокирован.

In [243]:
secret_number = 7
guess = 0
while guess != secret_number:
    guess = int(input("Угадайте число от 1 до 10: "))
print("Поздравляю, вы угадали число!")

Угадайте число от 1 до 10:  2
Угадайте число от 1 до 10:  3
Угадайте число от 1 до 10:  4
Угадайте число от 1 до 10:  5
Угадайте число от 1 до 10:  6
Угадайте число от 1 до 10:  7

Поздравляю, вы угадали число!

### Задание_1:

В переменных a и b сохранено два целых положительных числа, таких что a <= b. 
Напишите программу, которая находит сумму всех чисел от a до b, кратных 3 или 5. 
Сохраните сумму в переменную result. Если между a и b нет таких чисел, то сохраните в result 0.

In [251]:
# создание ряда чисел от a до b
list(range(a, b+1))

# поиск чисел из созданного ряда, кратных 3 или 5:     %3 == 0 or %5 == 0
multiple_number = 0
multiple_number += number

# если между a и b нет таких чисел, то сохраните в result = 0.
result = 0 if multiple_number == 0

In [273]:
a = 1
b = 10

multiples_number = 0

for number in list(range(a, b+1)):
    if number %3 == 0 or number %5 == 0:
        multiples_number += number 
        result = multiples_number
    elif  multiples_number == 0: 
        result = 0

result

33

In [275]:
#  Вариант 2

result = 0
for i in range(a, b + 1): 
    if i % 3 == 0 or i % 5 == 0: 
        result += i
result

33

### Задание_2:

Напишите программу на Python, которая определяет, является ли заданное число num простым.

Если num — простое число, то сохраните в переменную result строку "это простое число". 

Если число не простое, то сохраните в переменную result строку "это не простое число".

Используйте цикл для решения этой задачи.

In [ ]:
# Пример 1
num = 7
# result = "это простое число"

# Пример 2
num = 8
# result = "это не простое число"

In [300]:
num = 131

numbers = []

for i in range(1, num+1):
    if num % i == 0:
       numbers.append(i)

if len(numbers) == 2 or num == 1:
    result = "это простое число"
else:
    result = "это не простое число"

result

'это простое число'

In [302]:
# вариант 2

num = 131

d = 0
for i in range(2, num // 2+1):
    if (num % i == 0):
        d += 1
        break
result = "это простое число" if d == 0 else "это не простое число"
result

'это простое число'

### Задание_3:

В переменной number сохранено число, напишите код, который проверят, является ли number степенью двойки? 

Ряд степеней двойки:
        
        1, 2, 4, 8, 16, 32, 64 ...

Результат проверки True или False сохраните в переменную is_two_power.

In [557]:
number = 32 

is_two_power = False

if number == 0:
    is_two_power = False
else:
    while number % 2 == 0:
        number = number / 2
    is_two_power = number == 1

is_two_power

True

In [556]:
# вариант 2

number = 32 

if number < 1:
    is_two_power = False
elif number == 1:
    is_two_power = True    
else:
    while number % 2 == 0:
        number = number / 2
    is_two_power = number == 1

is_two_power

True

### Задание_4:
Напишите программу, которая посчитает, сколько посетителей сможет обслужить кофейня, если известно, что:

In [ ]:
Рецептура приготовления одной чашки:
эспрессо  =  7 г кофе
американо =  7 г кофе + вода (безлимит)
латте     =  7 г кофе + 180 мл молока
капучино  =  7 г кофе + 100 мл молока

Наличие ресурсов в кофейне:
coffee =   (в килограммах)
milk   =   (в литрах)

Условия:
1.
'американо' : '7 г кофе',
'латте'     : '7 г кофе + 180 мл молока', 
'капучино'  : '7 г кофе + 100 мл молока'

2.
1 visitor = 1 drink

3. 
каждый третий заказанный напиток — 'капучино', а каждый пятый — 'латте'.

4.
Если порядковый номер напитка делится и на 3, и на 5, то посетитель отдает предпочтение 'капучино'. 

5.
Если молоко закончилось, то кофейня работает, пока не придет посетитель, желающий заказать кофе с молоком.

visitors = ?


# Пример 1
coffee = 0.1
milk = 1
visitors = 14

In [211]:
# ингридиенты в кофейне
coffee = 0.1
milk   = 1

# coffee = 0.07
# milk = 0.1


# наличие ингридиентов в кофейне и перевод их в граммы и милилитры 
coffe_room = [coffee * 1000, milk * 1000] 

min_doza_coffee = 7
min_doza_milk   = 100 

i        = 1
visitors = 0

# дополнительно: подсчет кружек разных видов кофе
cappuch = 0
latte = 0
americano = 0


while coffe_room[0] > min_doza_coffee:
    if coffe_room[1] >= min_doza_milk:
        
        if i %3 == 0 and i %5 == 0:
            # 'капучино'
            coffe_room[0] -= 7
            coffe_room[1] -= 100
            visitors      += 1
            i             += 1    
            cappuch += 1
         
        elif i %5 == 0:
            # 'латте'
            coffe_room[0] -= 7
            coffe_room[1] -= 180
            visitors      += 1
            i             += 1
            latte += 1
        
        elif i %3 == 0:
            # 'капучино'
            coffe_room[0] -= 7
            coffe_room[1] -= 100
            visitors      += 1
            i             += 1
            cappuch += 1
            
        else:
            # не 'капучино' и не 'латте'
            # 'американо'  
            coffe_room[0] -= 7
            visitors      += 1
            i             += 1 
            americano += 1
    else:
        if i %3 == 0 or i %5 == 0:
            # клиент с 'капучино' или 'латте'
            break       
             
        else:
             # не 'капучино' и не 'латте'
             # 'американо'  
            coffe_room[0] -= 7
            visitors      += 1
            i             += 1 
            americano += 1
            
print(coffe_room)
print(visitors)

print('americano: ',americano)
print('cappuch: ',cappuch)
print('latte: ',latte)

[2.0, 240]
14
americano:  8
cappuch:  4
latte:  2

In [ ]:
# вариант 2

coffee *= 1000
milk *= 1000
visitors = 0
while True:
    if coffee < 7 or ((visitors + 1) % 3 == 0 and milk < 100) or ((visitors + 1) % 5 == 0 and milk < 180):
        break
    visitors += 1
    coffee -= 7
    if visitors % 3 == 0 :
        milk -= 100
    elif visitors % 5 == 0:
        milk -= 180

### Задание_5:
Дан список чисел a.  Напишите программу, которая вернет True, если в списке больше нечетных чисел, и False — во всех остальных случаях. Результат сохраните в result.

In [ ]:
# Пример 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = True

# Пример 2
a = [1, 2, 3, 4, 5, 6, 7, 8, 10]
result = False

# Пример 3
a = [1, 2, 3, 4]
result = False

In [231]:
a = [1, 2, 3, 4]

even_count     = 0
not_even_count = 0

for i in a:
    if i%2 == 0:
        even_count += 1
    else:
        not_even_count += 1

if not_even_count > even_count:
    result = True
else:
    result = False

print(result)

False

In [233]:
# Вариант 2

a = [1, 2, 3, 4]

result = sum (1 if int(i) % 2 else -1 for i in a) > 0
result

False

### Задание_6:
Есть словарь grades, содержащий информацию о школьных предметах и их оценках. В список good_subjects  сохраните названия всех предметов, у которых оценка больше или равна 4.

In [ ]:
Прмеры:

grades = {"Математика": 4, "История": 3, "Биология": 3, "География": 4}
good_subjects = ["Математика", "География"]

grades = {"Алгебра": 3, "ИЗО": 2}
good_subjects = []

In [272]:

grades = {"Алгебра": 3, "ИЗО": 2}

good_subjects = []

for subjects in grades.items():
    if list(subjects)[1] >= 4:
            good_subjects.append(subjects[0])
good_subjects

[]

In [ ]:
# вариант 2
good_subjects = []

subjects = list(grades.keys())
for i, v in enumerate(grades.values()):
    if v >= 4:
        good_subjects.append(subjects[i])

### Задание_7:

Напишите программу, которая будет принимать список чисел nums и возвращать два числа, абсолютная разность которых минимальна. Пару чисел сохраните в переменную result в виде списка, отсортированного по возрастанию.

Если несколько пар дают минимальную абсолютную разность, выберете ту пару элементов, сумма которых больше.

In [ ]:
# Пример 1
nums = [40, 16, 8, 17, 15]
result = [16, 17]
# пара 16 и 15 не подходит, так как сумма 16 и 17 больше

# Пример 2
nums = [0, 2, 35, 42, 45, 14, -6, -1]
result = [-1, 0]

In [560]:
nums = [40, 16, 8, 17, 15]

nums.sort() 
min_diff = float('inf')  
result = []
for i in range(len(nums) - 1):
    diff = abs(nums[i] - nums[i+1])  
    if diff < min_diff:
        min_diff = diff
        result = [nums[i], nums[i+1]]
    elif diff == min_diff and sum([nums[i], nums[i+1]]) > sum(result):
        result = [nums[i], nums[i+1]]

result

[16, 17]

In [561]:
# вариант 2

def min_absolute_difference(nums):
    nums.sort()
    min_diff = float('inf')
    result = []

nums = [40, 16, 8, 17, 15]


    for i in range(len(nums) - 1):
        diff = abs(nums[i] - nums[i+1])
        if diff < min_diff:
            min_diff = diff
            result = [nums[i], nums[i+1]]
        elif diff == min_diff and sum([nums[i], nums[i+1]]) > sum(result):
            result = [nums[i], nums[i+1]]

    return result

result = min_absolute_difference(nums)

result

[16, 17]

### Задание_8:

Напишите программу, принимающую в виде аргументов два списка lst_1 и lst_2 и определяющую, являются ли они противоположными друг другу. 

Результат проверки сохраните в result в формате True или False.

Каждая пара списков будет состоять из одинаковых элементов (типа a и b). 

Список считается анти-списком, если все элементы в нем противоположны соответствующим элементам в первом списке.

In [ ]:
Пример:

lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "0"]
result = True

lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "1"]
result = False

In [289]:
lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "1"]

In [290]:
sum_lst_1 = 0
sum_lst_2 = 0

for i in lst_1:
    sum_lst_1 += int(i)

for y in lst_2:
    sum_lst_2 += int(y)

if sum_lst_1 == sum_lst_2:
    result = True 
else:
    result = False 
result

False

In [291]:
#  вариант 2

lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "1"]

result = all({a, b} == set(lst_1) for a, b in zip(lst_1, lst_2))

result

False

### Задание_9:
Задана переменная m — список из списков одинаковой длины. Проверьте, что суммы элементов  на диагоналях равны.

Результат проверки сохраните в result в формате True или False.

In [ ]:
# Пример 1
m = [[1, 23, 4], 
     [3, 2, 1],
     [6, 3, 4]]
result = False

# Пример 2
m = [[1, 23, 4], 
     [3, 2, 1],
     [1, 3, 4]]
result = True

In [347]:
# m[0][0] + m[1][1] + m[2][2] ==  m[0][2] + m[1][1] + m[2][0]

In [353]:
m = [[1, 23, 4], 
     [3, 2, 1],
     [1, 3, 4]]

sum_diagonal_1 = 0
sum_diagonal_2 = 0
i = 0


for y in range(0, len(m)):
    sum_diagonal_1 += m[y][y]
    sum_diagonal_2 += m[y][len(m)-1 -i]
    i              += 1

    if  sum_diagonal_1 == sum_diagonal_2:
        result = True
    else:
        result = False

result

True

In [346]:
# вариант 2

result = sum([m[i][i] for i in range(len(m))]) == sum([m[i][len(m[i]) - i - 1] for i in range(len(m))])

### Задание_10:

Напишите программу, которая принимает словарь input_dict и возвращает строку вида: 
    
    ключ=значение&ключ=значение 

Строка должна быть лексикографически отсортирована по ключам исходного словаря. Сохраните полученный ответ в result.

Пример:

    input_dict = {'lesson': 2, 'task': 21, 'course': 'python'}
    
    result = 'course=python&lesson=2&task=21'

In [ ]:
def dict_to_string(input_dict):
    sorted_keys = sorted(input_dict.keys())
    result = '&'.join([f"{key}={input_dict[key]}" for key in sorted_keys])
    return result

result = dict_to_string(input_dict)

In [ ]:
# вариант 2

result_list = [f'{key}={value}' for key, value in sorted(input_dict.items())]
result = '&'.join(result_list)

### Задание_11:
Напишите программу, которая принимает одну строку input_str и возвращает другую result, в которой каждая буква исходной строки повторяется дважды.

In [ ]:
Пример:

input_str = "String"
result = "SSttrriinngg"

In [356]:
input_str = "String"

result = ""
for symbol in input_str:
    result += symbol*2

result

'SSttrriinngg'

In [359]:
# вариант 2

input_str = "String"

result = ''.join([s * 2 for s in input_str])

result

'SSttrriinngg'

### Задание_12:

Напишите программу, которая будет принимать число n и проверять, кратна ли каждая его цифра цифре, стоящей слева от нее. 

Ответ сохраните в result в виде массива булевых значений результатов проверок.

result всегда должен начинаться с False, так как слева от первой цифры ничего нет.

In [ ]:
Пример:

n = 54412
result = [False, False, True, False, True]

In [395]:
n = 2024

result = []

if len(str(n)) > 1:
    for i, number in enumerate(str(n)):
        if int(i)> 0 and int(str(n)[i-1]) != 0:
            if int(number) % int(str(n)[i-1]) == 0:
                result.append(True)
            else:
                result.append(False)
        else:
                result.append(False)
else:
    result = [False]
    
result

[False, True, False, True]

In [397]:
# вариант 2

n_str = str(n)
result = [False]
for i in range(1,len(n_str)):
    if int(n_str[i-1]) == 0 or int(n_str[i]) % int(n_str[i-1]) != 0:
        result.append(False)
    else:
        result.append(True)

result

[False, True, False, True]

### Задание_13:

Представим, что мы организуем экзамен, у нас есть список студентов, которые должны выступить с устным докладом. Для выступления отбираются только те студенты, которые набрали более 90 баллов за письменную работу. Наша задача сделать так, чтобы студенты выступали по очереди, отсортированные по фамилии.

Например, если у нас есть участники  Бабаков, Антонов, Волгов,, то выступать они должны в следующем порядке Антонов, Бабаков, Волгов.

Задача:

В словареstudents сохранены данные про студентов, ключ — фамилия, значение — число баллов за экзамен, создайте список students_order, в котором каждый элемент это кортеж (tuple) с номером выступления студента и его фамилией. В students_order должны быть только те студенты, у которых более 90 баллов. Порядок определяется сортировкой по фамилии.

In [ ]:
Пример:

students = {'Бабаков': 80, 'Антонов': 99, 'Волгов': 100}
students_order = [(1, 'Антонов'), (2, 'Волгов')]

In [520]:
students = {'Иванов': 100, 'Петров': 100, 'Сидоров': 80}

lucky_students_list = [] 
students_order = []

for i, points in enumerate(students.values()):
    if points > 90:
        lucky_students_list.append(list(students.items())[i][0])
lucky_students_list.sort()

for i, student in enumerate(lucky_students_list, start= 1):
    students_order.append((i, student))

students_order

[(1, 'Иванов'), (2, 'Петров')]

In [ ]:
# вариант 2

students_order = [name for name in sorted(students.keys()) if students[name] > 90]
students_order = list(enumerate(students_order, 1))

In [526]:
my_list = ['fdf', 'sdfkdf', 'sdviq']
my_list = list(enumerate(my_list, 1))

my_list

[(1, 'fdf'), (2, 'sdfkdf'), (3, 'sdviq')]

### Задание_14:

In [ ]:
Давайте научимся разгадывать тайные шифры! В my_string  хранится зашифрованная строка, например:

my_string = 'qircxfcgwxeciscwgwvzlfrciclibecpfvqzg'


В словаре secret_dict  хранится ключ к шифру, набор символов, которые нужно заменить:

secret_dict = {
 'b': 'k',
 'c': ' ',
 'g': 'n',
 'q': 'h',
 'z': 'o',
 'v': 't',
 'w': 'a',
 'f': 'y',
 'x': 'm',
 'r': ','}

Таким образом, словарь secret_dict говорит нам, что в строке my_string букву b нужно заменить на k, c на пробел и т. д. 

Если мы сделаем такие замены в строке my_string, 

то 'qircxfcgwxeciscwgwvzlfrciclibecpfvqzg' превратится в 'hi, my name is anatoly, i like python'.

Напишите программу, которая расшифровывает строку my_string при помощи словаря secret_dict. 
Расшифрованную строку сохраните в переменную decrypted_string.

In [538]:
# Пример:

my_string = 'qircxfcgwxeciscwgwvzlfrciclibecpfvqzg'
secret_dict = {
 'b': 'k',
 'c': ' ',
 'g': 'n',
 'q': 'h',
 'z': 'o',
 'v': 't',
 'w': 'a',
 'f': 'y',
 'x': 'm',
 'r': ','}

# decrypted_string = 'the old lady looked and tom ran away'

In [537]:
decrypted_string = ''

for i, letter in enumerate(my_string):
    if my_string[i] in secret_dict.keys():
        decrypted_string += secret_dict[letter]
    else:
        decrypted_string += letter

decrypted_string

'hi, my name is anatoly, i like python'

In [ ]:
# вариант 2

decrypted_string = ''

for i in my_string:
    if secret_dict.get(i):
        decrypted_string += secret_dict[i]
    else:
        decrypted_string += i