# Курс «Симулятор SQL»

### Примеры задач и их решения
#### *Агрегация*

**Задание:**

Выведите id всех уникальных пользователей из таблицы user_actions. Результат отсортируйте по возрастанию id.

```SQL
SELECT DISTINCT
               user_id
  FROM user_actions
 ORDER BY
       user_id
```

**Задание:**

Примените DISTINCT сразу к двум колонкам таблицы courier_actions и отберите уникальные пары значений courier_id и order_id.

Результат отсортируйте сначала по возрастанию id курьера, затем по возрастанию id заказа.

```SQL
SELECT 
       DISTINCT 
                courier_id, order_id    
  FROM courier_actions
 ORDER BY
       courier_id,
       order_id
```

**Задание:**

Посчитайте максимальную и минимальную цены товаров в таблице products. Поля назовите соответственно max_price, min_price.

```SQL
SELECT 
       MAX(price) AS max_price,
       MIN(price) AS min_price
  FROM products
```

**Задание:**

Как вы помните, в таблице users у некоторых пользователей не были указаны их даты рождения.

Посчитайте в одном запросе количество всех записей в таблице и количество только тех записей, для которых в колонке birth_date указана дата рождения.

Колонку с общим числом записей назовите dates, а колонку с записями без пропусков — dates_not_null.

```SQL
SELECT
      COUNT(*) AS dates,
      COUNT(birth_date) AS dates_not_null
  FROM users
```

**Задача:**

Посчитайте количество всех значений в колонке user_id в таблице user_actions, а также количество уникальных значений в этой колонке (т.е. количество уникальных пользователей сервиса).

Колонку с первым полученным значением назовите users, а колонку со вторым — unique_users.

```SQL
SELECT
       COUNT(user_id) AS users,
       COUNT(DISTINCT user_id) AS unique_users
  FROM user_actions
```

**Задание:**

Посчитайте количество курьеров женского пола в таблице couriers. Полученный столбец с одним значением назовите couriers.

```sql
SELECT 
      COUNT(courier_id) AS couriers
  FROM couriers
 WHERE
     sex LIKE 'female'
```

**Задача:**

Рассчитайте время, когда были совершены первая и последняя доставки заказов в таблице courier_actions.

Колонку с временем первой доставки назовите first_delivery, а колонку с временем последней — last_delivery.

```sql
SELECT 
       MIN(time) AS first_delivery,
       MAX(time) AS last_delivery
  FROM courier_actions
 WHERE
     action LIKE 'deliver_order'
```

**Задание:**

Представьте, что один из пользователей сервиса сделал заказ, в который вошли одна пачка сухариков, одна пачка чипсов и один энергетический напиток. Посчитайте стоимость такого заказа.

Колонку с рассчитанной стоимостью заказа назовите order_price.

Для расчётов используйте таблицу products.

```sql
SELECT
       SUM(price) AS order_price
  FROM products
 WHERE 
          name LIKE 'сухарики'
       OR name LIKE 'чипсы'
       OR name LIKE 'энергетический напиток'
```

**Вариант 2:**
```sql
SELECT 
       sum(price) AS order_price
  FROM products
 WHERE 
       name in ('сухарики', 'чипсы', 'энергетический напиток')
```
**Вариант 3:**
```sql
SELECT
       SUM(
           CASE 
           WHEN name in ('сухарики', 'чипсы', 'энергетический напиток') THEN price
           END
          ) AS order_price
 FROM products
```

**Задание:**

Посчитайте количество заказов в таблице orders с девятью и более товарами. Для этого воспользуйтесь функцией array_length, отфильтруйте данные по количеству товаров в заказе и проведите агрегацию. 

Полученный столбец назовите orders.

```sql
SELECT
       COUNT(order_id) AS orders
  FROM orders
 WHERE 
       array_length(product_ids, 1) >= 9
```

**Функция ```AGE``` возвращает разницу между двумя значениями, представленными в формате TIMESTAMP. При этом из первого значения вычитается второе, а сама разница получается в формате INTERVAL:**

```SQL
SELECT AGE('2022-12-12', '2021-11-10')
```

Результат:
```397 days, 0:00:00```


**Чтобы результат отображался не в виде количества дней, а в более удобном формате, можно переводить результат вычислений в тип VARCHAR:**

```SQL
SELECT AGE(current_date, '2021-11-10')::VARCHAR 
```

**Результат:**

```1 year 1 mon 2 days```

**Задание:**

С помощью функции ```AGE``` и агрегирующей функции рассчитайте возраст самого молодого курьера мужского пола в таблице couriers.

Возраст выразите количеством лет, месяцев и дней (как в примере выше), переведя его в тип ```VARCHAR```. 

В качестве даты, относительно которой считать возраст курьеров, используйте свою текущую дату (либо не указывайте её на месте первого аргумента, как показано в примерах).

Полученную колонку со значением возраста назовите min_age.

```sql
SELECT
       MIN(AGE(current_date, birth_date))::VARCHAR AS min_age       --- MIN(AGE(birth_date))::VARCHAR
  FROM couriers
 WHERE
       sex LIKE 'male'
```

**Если бы в нашей таблице все товары были разбиты по категориям и мы захотели бы посчитать среднюю цену товаров с учётом повышающих или понижающих коэффициентов для каждой категории, то мы могли бы сделать это, например, следующим образом:**

```sql
SELECT AVG(
            CASE 
            WHEN category='мясо' THEN price*0.95
            WHEN category='рыба' THEN price*0.9
            WHEN category='напитки' THEN price*1.05
            ELSE price
            END
            ) AS avg_price
 FROM products
```

**Задание:**

Посчитайте стоимость заказа, в котором будут три пачки сухариков, две пачки чипсов и один энергетический напиток. Колонку с рассчитанной стоимостью заказа назовите order_price.

Для расчётов используйте таблицу products.

```sql
SELECT
       SUM(
           CASE 
               WHEN name LIKE 'сухарики' THEN price*3
               WHEN name LIKE 'чипсы' THEN price*2
               WHEN name LIKE 'энергетический напиток' THEN price
           END
          ) AS order_price
 FROM products

```

**Задание:**

Рассчитайте среднюю цену товаров в таблице **products**, в названиях которых присутствуют слова ```«чай»``` или ```«кофе»```. Любым известным способом **исключите** из расчёта товары, содержащие в названии ```«иван-чай»``` или ```«чайный гриб»```.

Среднюю цену округлите до двух знаков после запятой. 

Столбец с полученным значением назовите avg_price.

```SQL
SELECT
       ROUND(AVG(price), 2) AS avg_price
  FROM products
 WHERE
       (name LIKE '%чай%' OR name LIKE '%кофе%') 
       AND name NOT LIKE '%иван-чай%'
       AND name NOT LIKE '%чайный гриб%'

```

**Задание:**

Воспользуйтесь функцией AGE и рассчитайте разницу в возрасте между самым старым и самым молодым пользователями мужского пола в таблице users. 

Разницу в возрасте выразите количеством лет, месяцев и дней, переведя её в тип VARCHAR. 

Колонку с посчитанным значением назовите age_diff.

```SQL
SELECT 
    AGE(MAX(birth_date), MIN(birth_date))::VARCHAR AS age_diff
FROM 
    users
WHERE 
    sex = 'male'
```

**Задание:**

Рассчитайте среднее количество товаров в заказах из таблицы orders, которые пользователи оформляли по выходным дням (суббота и воскресенье) в течение всего времени работы сервиса.

Полученное значение округлите до двух знаков после запятой. Колонку с ним назовите avg_order_size.

```sql
SELECT 
       ROUND( AVG( array_length(product_ids, 1) ), 2) AS avg_order_size
  FROM orders
 WHERE
       DATE_PART('dow', creation_time) in (0, 6)
```

**Задание:**

На основе данных в таблице user_actions посчитайте количество уникальных пользователей сервиса, количество уникальных заказов, поделите одно на другое и выясните, сколько заказов приходится на одного пользователя.

В результирующей таблице отразите все три значения — поля назовите соответственно unique_users, unique_orders, orders_per_user.

Показатель числа заказов на пользователя округлите до двух знаков после запятой.

```sql
SELECT
       COUNT(DISTINCT user_id)  AS unique_users,
       COUNT(DISTINCT order_id) AS unique_orders,
       ROUND( COUNT(DISTINCT order_id):: DECIMAL / COUNT(DISTINCT user_id), 2) AS orders_per_user
  FROM user_actions 
```

**Если после агрегирующей функции указать ключевое слово FILTER и поместить в скобках некоторое условие condition после WHERE, то агрегирующей функции на вход будут поданы только те строки, для которых условие фильтра окажется истинным.**

*В общем виде эта конструкция выглядит так:*

```SQL
SELECT agg_function(column) FILTER (WHERE condition)
FROM table
```

*Например, если бы мы захотели посчитать среднюю цену только для товаров категории ```'рыба'```, то запрос выглядел бы так:*

```SQL
SELECT AVG(price) FILTER (WHERE category = 'рыба') AS avg_fish_price
FROM table
```

**Задание:**

Посчитайте, сколько пользователей никогда не отменяли свой заказ. Для этого из общего числа всех уникальных пользователей отнимите число уникальных пользователей, которые хотя бы раз отменяли заказ. Подумайте, какое условие необходимо указать в ```FILTER```, чтобы получить корректный результат.

Полученный столбец назовите ```users_count```.

```SQL
SELECT
      COUNT(DISTINCT user_id) - COUNT(DISTINCT user_id) FILTER( WHERE action = 'cancel_order' ) AS users_count
  FROM user_actions
```

**Задание:**

Посчитайте общее количество заказов в таблице ```orders```, количество заказов с пятью и более товарами и найдите долю заказов с пятью и более товарами в общем количестве заказов.

В результирующей таблице отразите все три значения — поля назовите соответственно ```orders, large_orders, large_orders_share```.

Долю заказов с пятью и более товарами в общем количестве товаров округлите до двух знаков после запятой.

```SQL
SELECT  
       COUNT(order_id) AS orders,
       COUNT(order_id) FILTER (WHERE array_length(product_ids,1) >= 5) AS large_orders,
       ROUND( COUNT(order_id) FILTER (WHERE array_length(product_ids, 1) >= 5) / COUNT(order_id)::DECIMAL, 2)
       AS large_orders_share
  FROM orders
```

**Подведём итоги
В этом уроке мы:**

-Познакомились с ключевым словом ```DISTINCT```.

-Разобрались, как работают агрегирующие функции ```SUM, MIN, MAX, COUNT```.

-Узнали разницу между ```COUNT(*)``` и ```COUNT(column)```.

-Научились совмещать фильтрацию и агрегацию в одном запросе.

-Поработали с массивами и узнали, что делает функция ```array_length```.

-Узнали ещё больше про даты и время и познакомились с функцией ```AGE```.

-Затронули более продвинутую тему — агрегатные выражения с фильтрацией.

Известные нам на текущий момент ключевые слова и порядок их написания в запросе:

```SELECT```     -- перечисление полей результирующей таблицы

```FROM```       -- указание источника данных

```WHERE```      -- фильтрация данных

```ORDER BY```   -- сортировка результирующей таблицы

```LIMIT```      -- ограничение количества выводимых записей