# Lesson_4

#### Модуль os и прием list comprehension. 
Обход приград с неподготовленными и битыми данными

In [36]:
import pandas as pd
import os

In [67]:
path_dir = 'C://Users/user/Karpov_courses/'
folder_data = os.listdir(path_dir)
# выводит список всех файлов, лежащих в указанной дириктории

In [77]:
for i in folder_data:
    if i.startswith('.'):
        continue   
    print(i)

# [условие]: continue - если условие верно, то ничего не делать (continue), т.е. бежать дальше по циклу
# без continue вывели бы на печать только название файлов, с началом с "." - т.е. вывести все системные папки

Lesson_2.ipynb
Lesson_2_ex.ipynb
Lesson_3.ipynb
Lesson_3_ex.ipynb
Lesson_4.ipynb
Mini_pj_1.ipynb
Mini_pj_2.ipynb
money_by_city.csv
money_by_title_2024-07-16.csv
Untitled.ipynb
Untitled1.ipynb

In [79]:
# вариант 2
for i in folder_data:
    if not i.startswith('.'):
        print(i)
# если i не начинается с "." то вывести на печать

Lesson_2.ipynb
Lesson_2_ex.ipynb
Lesson_3.ipynb
Lesson_3_ex.ipynb
Lesson_4.ipynb
Mini_pj_1.ipynb
Mini_pj_2.ipynb
money_by_city.csv
money_by_title_2024-07-16.csv
Untitled.ipynb
Untitled1.ipynb

In [82]:
# вариант 3. Метод list comprehension -  выбор по условию и сразу сохранить в результирующий список:

[i for i in folder_data if not i.startswith('.')]

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [92]:
# ---------------------------------------------------------------------------------------------------------------

# Применение приема list comprehension сразу при считывании файла для выведения всех файлов и папок кроме системных:

path_dir = 'C://Users/user/Karpov_courses/'

folder_data = [i for i in os.listdir(path_dir) if not i.startswith('.')]
folder_data

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

#### Считывание данных при помощи open().readlines()

In [93]:
folder_data

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

Задача:
    Есть приложение, есть данные об активности пользователей. Есть технический log (txt формат со стрёмными разделителями).

In [100]:
p = 'C://Users/user/Karpov_courses/titanic-ship-s-log__2.log'
# путь к файлу (в данном случае к леваковому:( )
# файл в формате ".txt" или ".log", поэтому простое pd.read_csv не работает

#### Решение 1 
    (если файл только 1 и он не большой - и вообще это какой-то разовый ad-hoc):
   ###### Открыть вручную, найти нужное, вставить в Excel, разбить по колонкам - готово!
 _________________

#### Решение 2 
    (системный подход, если файлов много):

In [156]:
open(p).readlines()
    # считывает построчно файл, являясь одним большим списком, соответственно можно обращаться как к списку

for i in open(p).readlines():
    print(i)
    # выводит на печать содержимое файла (без системных знаков табуляции "\t" и перехода на новую строку "\n")

14.5s 1 /opt/conda/lib/python3.7/site-packages/papermill/iorw.py:50: FutureWarning: pyarrow.HadoopFileSystem is deprecated as of 2.0.0, please use pyarrow.fs.HadoopFileSystem instead.

14.5s 2 from pyarrow import HadoopFileSystem

80.7s 3 <class 'pandas.core.frame.DataFrame'>

80.7s 4 Int64Index: 1309 entries, 1 to 1309

80.7s 5 Data columns (total 19 columns):

80.7s 6 #   Column                      Non-Null Count  Dtype

------ Non-deleted saved ----------------------------------------

80.7s 8 0   Pclass                      1309 non-null   int64

80.7s 9 1   Name                        1309 non-null   object

80.7s 10 2   Sex                         1309 non-null   object

80.7s 11 3   Age                         1046 non-null   float64

80.7s 12 4   SibSp                       1309 non-null   int64

80.7s 13 5   Parch                       1309 non-null   int64

80.7s 14 6   Ticket                      1309 non-null   object

80.7s 15 7   Fare                        1308 non-null   float64

80.7s 16 8   Cabin                       295 non-null    object

80.7s 17 9   Embarked                    1307 non-null   object

80.7s 18 10  num_missing_vals            1309 non-null   int64

80.7s 19 11  has_missing_vals            1309 non-null   int64

80.7s 20 12  FamilySize                  1309 non-null   int64

80.7s 21 13  TicketGroupSize             1309 non-null   int64

80.7s 22 14  SinglePrice                 1308 non-null   float64

80.7s 23 15  Deck                        295 non-null    object

80.7s 24 16  TicketGroupSize_FamilySize  1309 non-null   int64

80.7s 25 17  TicketOccupation            1309 non-null   object

80.7s 26 18  OnePersonFamily             1309 non-null   int64

------------------------------------------------------------------

80.7s 27 dtypes: float64(3), int64(9), object(7)

80.7s 28 memory usage: 236.8+ KB

85.0s 29 /opt/conda/lib/python3.7/site-packages/traitlets/traitlets.py:2567: FutureWarning: --Exporter.preprocessors=["remove_papermill_header.RemovePapermillHeader"] for containers is deprecated in traitlets 5.0. You can pass `--Exporter.preprocessors item` ... multiple times to add items to a list.

85.0s 30 FutureWarning,

85.0s 31 [NbConvertApp] Converting notebook __notebook__.ipynb to notebook

85.9s 32 [NbConvertApp] Writing 1533611 bytes to __notebook__.ipynb

88.5s 33 /opt/conda/lib/python3.7/site-packages/traitlets/traitlets.py:2567: FutureWarning: --Exporter.preprocessors=["nbconvert.preprocessors.ExtractOutputPreprocessor"] for containers is deprecated in traitlets 5.0. You can pass `--Exporter.preprocessors item` ... multiple times to add items to a list.

88.5s 34 FutureWarning,

88.5s 35 [NbConvertApp] Converting notebook __notebook__.ipynb to html

90.0s 36 [NbConvertApp] Support files will be in __results___files/

90.0s 37 [NbConvertApp] Making directory __results___files

90.0s 38 [NbConvertApp] Making directory __results___files

90.0s 39 [NbConvertApp] Making directory __results___files

90.0s 40 [NbConvertApp] Making directory __results___files

90.0s 41 [NbConvertApp] Making directory __results___files

90.0s 42 [NbConvertApp] Making directory __results___files

90.0s 43 [NbConvertApp] Making directory __results___files

90.0s 44 [NbConvertApp] Making directory __results___files

90.0s 45 [NbConvertApp] Making directory __results___files

90.0s 46 [NbConvertApp] Making directory __results___files

90.0s 47 [NbConvertApp] Making directory __results___files

90.0s 48 [NbConvertApp] Making directory __results___files

90.0s 49 [NbConvertApp] Writing 407618 bytes to __results__.html

In [102]:
# Нужно достать из лога часть данных, 
# которая начинается на "------ Non-deleted saved ---" и заканчивается "----------------------"

#### Как прочитать только нужную часть файла

In [170]:
# Cоздаем прототип, где старт и конец - это красные флаги 🏁

x = ['1','2', 'start', '3', '4', '5', 'end', '6', '7']

scanning = False # команда на считывание инфы, которая зажата между значением "start" и "end"

for i in x:
    if i == 'end':
        scanning = False
        continue
        
    if scanning == True:
        print(i)
    
    if i == 'start':
        scanning = True
        continue
        
# рабочий цикл по считыванию данных меджду флажковыми значениями

3
4
5

---------------------------------------------------

In [192]:
p = 'C://Users/user/Karpov_courses/titanic-ship-s-log__2.log'

# путь к файлу, в данном случае к леваковому:( 
# случай когда файл в формате ".txt" или ".log", поэтому простое pd.read_csv не работает


p_data = open(p).readlines()  # изначальный считываемый log из файла 


all_data = []      # результирующий список под будующий датафрейм-выжимку с нужным из loq-файла 



scanning = False # команда на считывание инфы, которая зажата между двумя значениями

for i in p_data:
        if i.startswith('----------------------------'): 
            scanning = False
            continue

        if scanning:   #  "if scanning:   это по defoltу - if scanning == True: "
           # if 'Columns#:' in i:    - в другом Примере эта фраза стояла перед названиями колонок 
           #    col_name = i          поэтому в col_name создается список из названий колонок (необработанный) 
           #    continue
            all_data.append( [value.strip() for value in i.split(' ')] ) 
             # добавление разбиваемой строки с разделением " " и с убраными лишними пробелами и символами табуляции

        if i.startswith ('------ Non-deleted saved ---'):
            scanning = True
            continue

In [173]:
#   final_col_names = [cul.strip() for col in col_name.split(';')]
# убирает лишние пробелы в созданной строке col_name, разделенной перед этим через ";" - готовые названия колонок

In [199]:
meal_df = pd.DataFrame(all_data) #, columns= final_col_names)

In [200]:
meal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,80.7s,8,0,,,Pclass,,,,,...,,,1309,non-null,,,int64,None,None,None
1,80.7s,9,1,,,Name,,,,,...,,,,,1309,non-null,,,object,None
2,80.7s,10,2,,,Sex,,,,,...,,,,,,1309,non-null,,,object
3,80.7s,11,3,,,Age,,,,,...,,,,,,1046,non-null,,,float64
4,80.7s,12,4,,,SibSp,,,,,...,,,,1309,non-null,,,int64,None,None

#### Типы данных и работа с датой

In [206]:
taxi_peru = pd.read_csv('C://Users/user/Karpov_courses/taxi_peru.csv', sep = ';')
taxi_peru.head(3)

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
1,dd2af4715d0dc16eded53afc0e243577,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:34:00,"-12,13874817","-76,99536133",2010-06-01 00:37:00,"-12,12465668","-77,02886963",not found,NaN,NaN,NaN,iPhone,NaN,NaN
2,dd91e131888064bf7df3ce08f3d4b4ad,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-05-31 05:01:00,"-12,12453079","-77,02780151",2010-05-31 05:04:00,"-12,13883209","-76,99530029",not found,NaN,NaN,NaN,iPhone,NaN,NaN

In [213]:
taxi_peru.dtypes 
# если бы в исходном варианте "start_lat", "start_lon", "end_lat" , "end_lon" - являясь object было бы чем-то другим
# то нужно было бы менять

journey_id           object
user_id              object
driver_id            object
taxi_id              object
icon                 object
start_type           object
start_at             object
start_lat            object
start_lon            object
end_at               object
end_lat              object
end_lon              object
end_state            object
driver_start_lat     object
driver_start_lon     object
arrived_at           object
source               object
driver_score        float64
rider_score         float64
dtype: object

In [214]:
#например:

#taxi_peru.astype({'start_lat': 'float64', 
#                  'start_lon': 'float64',
#                 'end_lat': 'float64', 
#                  'end_lon': 'float64',  
#                })

In [241]:
taxi_peru.start_at = taxi_peru.start_at.astype({'start_at':'datetime64[ns]'})
# перевод колонки с датой в формат даты

In [246]:
df_taxi_peru = taxi_peru[['user_id', 'driver_id', 'start_at','source', 'driver_score', 'rider_score']]
df_taxi_peru.head(3)

,user_id,driver_id,start_at,source,driver_score,rider_score
0,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,2010-11-16 16:44:00,iPhone,5.0,5.0
1,a553c46e3a22fb9c326aeb3d72b3334e,NaN,2010-06-01 00:34:00,iPhone,NaN,NaN
2,a553c46e3a22fb9c326aeb3d72b3334e,NaN,2010-05-31 05:01:00,iPhone,NaN,NaN

In [245]:
df_taxi_peru.start_at = pd.to_datetime(users_taxi_peru.start_at)

# вариант 2 перевода колонки с датой в формат даты в пандасе

In [249]:
df_taxi_peru.start_at.dt.date
# атрибуты колонки с форматом даты - dt.day/ month/.../date

0        2010-11-16
1        2010-06-01
2        2010-05-31
3        2010-06-01
4        2010-09-11
            ...
23106    2010-07-31
23107    2010-10-02
23108    2010-09-21
23109    2010-04-29
23110    2010-03-16
Name: start_at, Length: 23111, dtype: object

In [252]:
df = df_taxi_peru\
            .groupby('start_at', as_index= False)\
            .agg({'driver_score':'sum'})

In [254]:
df.to_csv('df_sum_driv_score.csv', index= False )

# экспорт отчета в файл