# Lesson_4

#### –ú–æ–¥—É–ª—å os –∏ –ø—Ä–∏–µ–º list comprehension. 
–û–±—Ö–æ–¥ –ø—Ä–∏–≥—Ä–∞–¥ —Å –Ω–µ–ø–æ–¥–≥–æ—Ç–æ–≤–ª–µ–Ω–Ω—ã–º–∏ –∏ –±–∏—Ç—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏

In [36]:
import pandas as pd
import os

In [67]:
path_dir = 'C://Users/user/Karpov_courses/'
folder_data = os.listdir(path_dir)
# –≤—ã–≤–æ–¥–∏—Ç —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö —Ñ–∞–π–ª–æ–≤, –ª–µ–∂–∞—â–∏—Ö –≤ —É–∫–∞–∑–∞–Ω–Ω–æ–π –¥–∏—Ä–∏–∫—Ç–æ—Ä–∏–∏

In [77]:
for i in folder_data:
    if i.startswith('.'):
        continue   
    print(i)

# [—É—Å–ª–æ–≤–∏–µ]: continue - –µ—Å–ª–∏ —É—Å–ª–æ–≤–∏–µ –≤–µ—Ä–Ω–æ, —Ç–æ –Ω–∏—á–µ–≥–æ –Ω–µ –¥–µ–ª–∞—Ç—å (continue), —Ç.–µ. –±–µ–∂–∞—Ç—å –¥–∞–ª—å—à–µ –ø–æ —Ü–∏–∫–ª—É
# –±–µ–∑ continue –≤—ã–≤–µ–ª–∏ –±—ã –Ω–∞ –ø–µ—á–∞—Ç—å —Ç–æ–ª—å–∫–æ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∞–π–ª–æ–≤, —Å –Ω–∞—á–∞–ª–æ–º —Å "." - —Ç.–µ. –≤—ã–≤–µ—Å—Ç–∏ –≤—Å–µ —Å–∏—Å—Ç–µ–º–Ω—ã–µ –ø–∞–ø–∫–∏

Lesson_2.ipynb
Lesson_2_ex.ipynb
Lesson_3.ipynb
Lesson_3_ex.ipynb
Lesson_4.ipynb
Mini_pj_1.ipynb
Mini_pj_2.ipynb
money_by_city.csv
money_by_title_2024-07-16.csv
Untitled.ipynb
Untitled1.ipynb

In [79]:
# –≤–∞—Ä–∏–∞–Ω—Ç 2
for i in folder_data:
    if not i.startswith('.'):
        print(i)
# –µ—Å–ª–∏ i –Ω–µ –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è —Å "." —Ç–æ –≤—ã–≤–µ—Å—Ç–∏ –Ω–∞ –ø–µ—á–∞—Ç—å

Lesson_2.ipynb
Lesson_2_ex.ipynb
Lesson_3.ipynb
Lesson_3_ex.ipynb
Lesson_4.ipynb
Mini_pj_1.ipynb
Mini_pj_2.ipynb
money_by_city.csv
money_by_title_2024-07-16.csv
Untitled.ipynb
Untitled1.ipynb

In [82]:
# –≤–∞—Ä–∏–∞–Ω—Ç 3. –ú–µ—Ç–æ–¥ list comprehension -  –≤—ã–±–æ—Ä –ø–æ —É—Å–ª–æ–≤–∏—é –∏ —Å—Ä–∞–∑—É —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –≤ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π —Å–ø–∏—Å–æ–∫:

[i for i in folder_data if not i.startswith('.')]

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [92]:
# ---------------------------------------------------------------------------------------------------------------

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ –ø—Ä–∏–µ–º–∞ list comprehension —Å—Ä–∞–∑—É –ø—Ä–∏ —Å—á–∏—Ç—ã–≤–∞–Ω–∏–∏ —Ñ–∞–π–ª–∞ –¥–ª—è –≤—ã–≤–µ–¥–µ–Ω–∏—è –≤—Å–µ—Ö —Ñ–∞–π–ª–æ–≤ –∏ –ø–∞–ø–æ–∫ –∫—Ä–æ–º–µ —Å–∏—Å—Ç–µ–º–Ω—ã—Ö:

path_dir = 'C://Users/user/Karpov_courses/'

folder_data = [i for i in os.listdir(path_dir) if not i.startswith('.')]
folder_data

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

#### –°—á–∏—Ç—ã–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏ –ø–æ–º–æ—â–∏ open().readlines()

In [93]:
folder_data

['Lesson_2.ipynb',
 'Lesson_2_ex.ipynb',
 'Lesson_3.ipynb',
 'Lesson_3_ex.ipynb',
 'Lesson_4.ipynb',
 'Mini_pj_1.ipynb',
 'Mini_pj_2.ipynb',
 'money_by_city.csv',
 'money_by_title_2024-07-16.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb']

–ó–∞–¥–∞—á–∞:
    –ï—Å—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ, –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ–± –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π. –ï—Å—Ç—å —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–π log (txt —Ñ–æ—Ä–º–∞—Ç —Å–æ —Å—Ç—Ä—ë–º–Ω—ã–º–∏ —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—è–º–∏).

In [100]:
p = 'C://Users/user/Karpov_courses/titanic-ship-s-log__2.log'
# –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É (–≤ –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –∫ –ª–µ–≤–∞–∫–æ–≤–æ–º—É:( )
# —Ñ–∞–π–ª –≤ —Ñ–æ—Ä–º–∞—Ç–µ ".txt" –∏–ª–∏ ".log", –ø–æ—ç—Ç–æ–º—É –ø—Ä–æ—Å—Ç–æ–µ pd.read_csv –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç

#### –†–µ—à–µ–Ω–∏–µ 1 
    (–µ—Å–ª–∏ —Ñ–∞–π–ª —Ç–æ–ª—å–∫–æ 1 –∏ –æ–Ω –Ω–µ –±–æ–ª—å—à–æ–π - –∏ –≤–æ–æ–±—â–µ —ç—Ç–æ –∫–∞–∫–æ–π-—Ç–æ —Ä–∞–∑–æ–≤—ã–π ad-hoc):
   ###### –û—Ç–∫—Ä—ã—Ç—å –≤—Ä—É—á–Ω—É—é, –Ω–∞–π—Ç–∏ –Ω—É–∂–Ω–æ–µ, –≤—Å—Ç–∞–≤–∏—Ç—å –≤ Excel, —Ä–∞–∑–±–∏—Ç—å –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º - –≥–æ—Ç–æ–≤–æ!
 _________________

#### –†–µ—à–µ–Ω–∏–µ 2 
    (—Å–∏—Å—Ç–µ–º–Ω—ã–π –ø–æ–¥—Ö–æ–¥, –µ—Å–ª–∏ —Ñ–∞–π–ª–æ–≤ –º–Ω–æ–≥–æ):

In [156]:
open(p).readlines()
    # —Å—á–∏—Ç—ã–≤–∞–µ—Ç –ø–æ—Å—Ç—Ä–æ—á–Ω–æ —Ñ–∞–π–ª, —è–≤–ª—è—è—Å—å –æ–¥–Ω–∏–º –±–æ–ª—å—à–∏–º —Å–ø–∏—Å–∫–æ–º, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ –º–æ–∂–Ω–æ –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫–∞–∫ –∫ —Å–ø–∏—Å–∫—É

for i in open(p).readlines():
    print(i)
    # –≤—ã–≤–æ–¥–∏—Ç –Ω–∞ –ø–µ—á–∞—Ç—å —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ —Ñ–∞–π–ª–∞ (–±–µ–∑ —Å–∏—Å—Ç–µ–º–Ω—ã—Ö –∑–Ω–∞–∫–æ–≤ —Ç–∞–±—É–ª—è—Ü–∏–∏ "\t" –∏ –ø–µ—Ä–µ—Ö–æ–¥–∞ –Ω–∞ –Ω–æ–≤—É—é —Å—Ç—Ä–æ–∫—É "\n")

14.5s 1 /opt/conda/lib/python3.7/site-packages/papermill/iorw.py:50: FutureWarning: pyarrow.HadoopFileSystem is deprecated as of 2.0.0, please use pyarrow.fs.HadoopFileSystem instead.

14.5s 2 from pyarrow import HadoopFileSystem

80.7s 3 <class 'pandas.core.frame.DataFrame'>

80.7s 4 Int64Index: 1309 entries, 1 to 1309

80.7s 5 Data columns (total 19 columns):

80.7s 6 #   Column                      Non-Null Count  Dtype

------ Non-deleted saved ----------------------------------------

80.7s 8 0   Pclass                      1309 non-null   int64

80.7s 9 1   Name                        1309 non-null   object

80.7s 10 2   Sex                         1309 non-null   object

80.7s 11 3   Age                         1046 non-null   float64

80.7s 12 4   SibSp                       1309 non-null   int64

80.7s 13 5   Parch                       1309 non-null   int64

80.7s 14 6   Ticket                      1309 non-null   object

80.7s 15 7   Fare                        1308 non-null   float64

80.7s 16 8   Cabin                       295 non-null    object

80.7s 17 9   Embarked                    1307 non-null   object

80.7s 18 10  num_missing_vals            1309 non-null   int64

80.7s 19 11  has_missing_vals            1309 non-null   int64

80.7s 20 12  FamilySize                  1309 non-null   int64

80.7s 21 13  TicketGroupSize             1309 non-null   int64

80.7s 22 14  SinglePrice                 1308 non-null   float64

80.7s 23 15  Deck                        295 non-null    object

80.7s 24 16  TicketGroupSize_FamilySize  1309 non-null   int64

80.7s 25 17  TicketOccupation            1309 non-null   object

80.7s 26 18  OnePersonFamily             1309 non-null   int64

------------------------------------------------------------------

80.7s 27 dtypes: float64(3), int64(9), object(7)

80.7s 28 memory usage: 236.8+ KB

85.0s 29 /opt/conda/lib/python3.7/site-packages/traitlets/traitlets.py:2567: FutureWarning: --Exporter.preprocessors=["remove_papermill_header.RemovePapermillHeader"] for containers is deprecated in traitlets 5.0. You can pass `--Exporter.preprocessors item` ... multiple times to add items to a list.

85.0s 30 FutureWarning,

85.0s 31 [NbConvertApp] Converting notebook __notebook__.ipynb to notebook

85.9s 32 [NbConvertApp] Writing 1533611 bytes to __notebook__.ipynb

88.5s 33 /opt/conda/lib/python3.7/site-packages/traitlets/traitlets.py:2567: FutureWarning: --Exporter.preprocessors=["nbconvert.preprocessors.ExtractOutputPreprocessor"] for containers is deprecated in traitlets 5.0. You can pass `--Exporter.preprocessors item` ... multiple times to add items to a list.

88.5s 34 FutureWarning,

88.5s 35 [NbConvertApp] Converting notebook __notebook__.ipynb to html

90.0s 36 [NbConvertApp] Support files will be in __results___files/

90.0s 37 [NbConvertApp] Making directory __results___files

90.0s 38 [NbConvertApp] Making directory __results___files

90.0s 39 [NbConvertApp] Making directory __results___files

90.0s 40 [NbConvertApp] Making directory __results___files

90.0s 41 [NbConvertApp] Making directory __results___files

90.0s 42 [NbConvertApp] Making directory __results___files

90.0s 43 [NbConvertApp] Making directory __results___files

90.0s 44 [NbConvertApp] Making directory __results___files

90.0s 45 [NbConvertApp] Making directory __results___files

90.0s 46 [NbConvertApp] Making directory __results___files

90.0s 47 [NbConvertApp] Making directory __results___files

90.0s 48 [NbConvertApp] Making directory __results___files

90.0s 49 [NbConvertApp] Writing 407618 bytes to __results__.html

In [102]:
# –ù—É–∂–Ω–æ –¥–æ—Å—Ç–∞—Ç—å –∏–∑ –ª–æ–≥–∞ —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö, 
# –∫–æ—Ç–æ—Ä–∞—è –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è –Ω–∞ "------ Non-deleted saved ---" –∏ –∑–∞–∫–∞–Ω—á–∏–≤–∞–µ—Ç—Å—è "----------------------"

#### –ö–∞–∫ –ø—Ä–æ—á–∏—Ç–∞—Ç—å —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—É—é —á–∞—Å—Ç—å —Ñ–∞–π–ª–∞

In [170]:
# C–æ–∑–¥–∞–µ–º –ø—Ä–æ—Ç–æ—Ç–∏–ø, –≥–¥–µ —Å—Ç–∞—Ä—Ç –∏ –∫–æ–Ω–µ—Ü - —ç—Ç–æ –∫—Ä–∞—Å–Ω—ã–µ —Ñ–ª–∞–≥–∏ üèÅ

x = ['1','2', 'start', '3', '4', '5', 'end', '6', '7']

scanning = False # –∫–æ–º–∞–Ω–¥–∞ –Ω–∞ —Å—á–∏—Ç—ã–≤–∞–Ω–∏–µ –∏–Ω—Ñ—ã, –∫–æ—Ç–æ—Ä–∞—è –∑–∞–∂–∞—Ç–∞ –º–µ–∂–¥—É –∑–Ω–∞—á–µ–Ω–∏–µ–º "start" –∏ "end"

for i in x:
    if i == 'end':
        scanning = False
        continue
        
    if scanning == True:
        print(i)
    
    if i == 'start':
        scanning = True
        continue
        
# —Ä–∞–±–æ—á–∏–π —Ü–∏–∫–ª –ø–æ —Å—á–∏—Ç—ã–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö –º–µ–¥–∂–¥—É —Ñ–ª–∞–∂–∫–æ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

3
4
5

---------------------------------------------------

In [192]:
p = 'C://Users/user/Karpov_courses/titanic-ship-s-log__2.log'

# –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É, –≤ –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ –∫ –ª–µ–≤–∞–∫–æ–≤–æ–º—É:( 
# —Å–ª—É—á–∞–π –∫–æ–≥–¥–∞ —Ñ–∞–π–ª –≤ —Ñ–æ—Ä–º–∞—Ç–µ ".txt" –∏–ª–∏ ".log", –ø–æ—ç—Ç–æ–º—É –ø—Ä–æ—Å—Ç–æ–µ pd.read_csv –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç


p_data = open(p).readlines()  # –∏–∑–Ω–∞—á–∞–ª—å–Ω—ã–π —Å—á–∏—Ç—ã–≤–∞–µ–º—ã–π log –∏–∑ —Ñ–∞–π–ª–∞ 


all_data = []      # —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π —Å–ø–∏—Å–æ–∫ –ø–æ–¥ –±—É–¥—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º-–≤—ã–∂–∏–º–∫—É —Å –Ω—É–∂–Ω—ã–º –∏–∑ loq-—Ñ–∞–π–ª–∞ 



scanning = False # –∫–æ–º–∞–Ω–¥–∞ –Ω–∞ —Å—á–∏—Ç—ã–≤–∞–Ω–∏–µ –∏–Ω—Ñ—ã, –∫–æ—Ç–æ—Ä–∞—è –∑–∞–∂–∞—Ç–∞ –º–µ–∂–¥—É –¥–≤—É–º—è –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

for i in p_data:
        if i.startswith('----------------------------'): 
            scanning = False
            continue

        if scanning:   #  "if scanning:   —ç—Ç–æ –ø–æ defolt—É - if scanning == True: "
           # if 'Columns#:' in i:    - –≤ –¥—Ä—É–≥–æ–º –ü—Ä–∏–º–µ—Ä–µ —ç—Ç–∞ —Ñ—Ä–∞–∑–∞ —Å—Ç–æ—è–ª–∞ –ø–µ—Ä–µ–¥ –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∫–æ–ª–æ–Ω–æ–∫ 
           #    col_name = i          –ø–æ—ç—Ç–æ–º—É –≤ col_name —Å–æ–∑–¥–∞–µ—Ç—Å—è —Å–ø–∏—Å–æ–∫ –∏–∑ –Ω–∞–∑–≤–∞–Ω–∏–π –∫–æ–ª–æ–Ω–æ–∫ (–Ω–µ–æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–π) 
           #    continue
            all_data.append( [value.strip() for value in i.split(' ')] ) 
             # –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ —Ä–∞–∑–±–∏–≤–∞–µ–º–æ–π —Å—Ç—Ä–æ–∫–∏ —Å —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ–º " " –∏ —Å —É–±—Ä–∞–Ω—ã–º–∏ –ª–∏—à–Ω–∏–º–∏ –ø—Ä–æ–±–µ–ª–∞–º–∏ –∏ —Å–∏–º–≤–æ–ª–∞–º–∏ —Ç–∞–±—É–ª—è—Ü–∏–∏

        if i.startswith ('------ Non-deleted saved ---'):
            scanning = True
            continue

In [173]:
#   final_col_names = [cul.strip() for col in col_name.split(';')]
# —É–±–∏—Ä–∞–µ—Ç –ª–∏—à–Ω–∏–µ –ø—Ä–æ–±–µ–ª—ã –≤ —Å–æ–∑–¥–∞–Ω–Ω–æ–π —Å—Ç—Ä–æ–∫–µ col_name, —Ä–∞–∑–¥–µ–ª–µ–Ω–Ω–æ–π –ø–µ—Ä–µ–¥ —ç—Ç–∏–º —á–µ—Ä–µ–∑ ";" - –≥–æ—Ç–æ–≤—ã–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫

In [199]:
meal_df = pd.DataFrame(all_data) #, columns= final_col_names)

In [200]:
meal_df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,80.7s,8,0,,,Pclass,,,,,...,,,1309,non-null,,,int64,None,None,None
1,80.7s,9,1,,,Name,,,,,...,,,,,1309,non-null,,,object,None
2,80.7s,10,2,,,Sex,,,,,...,,,,,,1309,non-null,,,object
3,80.7s,11,3,,,Age,,,,,...,,,,,,1046,non-null,,,float64
4,80.7s,12,4,,,SibSp,,,,,...,,,,1309,non-null,,,int64,None,None

#### –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ —Ä–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–æ–π

In [206]:
taxi_peru = pd.read_csv('C://Users/user/Karpov_courses/taxi_peru.csv', sep = ';')
taxi_peru.head(3)

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
1,dd2af4715d0dc16eded53afc0e243577,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:34:00,"-12,13874817","-76,99536133",2010-06-01 00:37:00,"-12,12465668","-77,02886963",not found,NaN,NaN,NaN,iPhone,NaN,NaN
2,dd91e131888064bf7df3ce08f3d4b4ad,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-05-31 05:01:00,"-12,12453079","-77,02780151",2010-05-31 05:04:00,"-12,13883209","-76,99530029",not found,NaN,NaN,NaN,iPhone,NaN,NaN

In [213]:
taxi_peru.dtypes 
# –µ—Å–ª–∏ –±—ã –≤ –∏—Å—Ö–æ–¥–Ω–æ–º –≤–∞—Ä–∏–∞–Ω—Ç–µ "start_lat", "start_lon", "end_lat" , "end_lon" - —è–≤–ª—è—è—Å—å object –±—ã–ª–æ –±—ã —á–µ–º-—Ç–æ –¥—Ä—É–≥–∏–º
# —Ç–æ –Ω—É–∂–Ω–æ –±—ã–ª–æ –±—ã –º–µ–Ω—è—Ç—å

journey_id           object
user_id              object
driver_id            object
taxi_id              object
icon                 object
start_type           object
start_at             object
start_lat            object
start_lon            object
end_at               object
end_lat              object
end_lon              object
end_state            object
driver_start_lat     object
driver_start_lon     object
arrived_at           object
source               object
driver_score        float64
rider_score         float64
dtype: object

In [214]:
#–Ω–∞–ø—Ä–∏–º–µ—Ä:

#taxi_peru.astype({'start_lat': 'float64', 
#                  'start_lon': 'float64',
#                 'end_lat': 'float64', 
#                  'end_lon': 'float64',  
#                })

In [241]:
taxi_peru.start_at = taxi_peru.start_at.astype({'start_at':'datetime64[ns]'})
# –ø–µ—Ä–µ–≤–æ–¥ –∫–æ–ª–æ–Ω–∫–∏ —Å –¥–∞—Ç–æ–π –≤ —Ñ–æ—Ä–º–∞—Ç –¥–∞—Ç—ã

In [246]:
df_taxi_peru = taxi_peru[['user_id', 'driver_id', 'start_at','source', 'driver_score', 'rider_score']]
df_taxi_peru.head(3)

,user_id,driver_id,start_at,source,driver_score,rider_score
0,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,2010-11-16 16:44:00,iPhone,5.0,5.0
1,a553c46e3a22fb9c326aeb3d72b3334e,NaN,2010-06-01 00:34:00,iPhone,NaN,NaN
2,a553c46e3a22fb9c326aeb3d72b3334e,NaN,2010-05-31 05:01:00,iPhone,NaN,NaN

In [245]:
df_taxi_peru.start_at = pd.to_datetime(users_taxi_peru.start_at)

# –≤–∞—Ä–∏–∞–Ω—Ç 2 –ø–µ—Ä–µ–≤–æ–¥–∞ –∫–æ–ª–æ–Ω–∫–∏ —Å –¥–∞—Ç–æ–π –≤ —Ñ–æ—Ä–º–∞—Ç –¥–∞—Ç—ã –≤ –ø–∞–Ω–¥–∞—Å–µ

In [249]:
df_taxi_peru.start_at.dt.date
# –∞—Ç—Ä–∏–±—É—Ç—ã –∫–æ–ª–æ–Ω–∫–∏ —Å —Ñ–æ—Ä–º–∞—Ç–æ–º –¥–∞—Ç—ã - dt.day/ month/.../date

0        2010-11-16
1        2010-06-01
2        2010-05-31
3        2010-06-01
4        2010-09-11
            ...
23106    2010-07-31
23107    2010-10-02
23108    2010-09-21
23109    2010-04-29
23110    2010-03-16
Name: start_at, Length: 23111, dtype: object

In [252]:
df = df_taxi_peru\
            .groupby('start_at', as_index= False)\
            .agg({'driver_score':'sum'})

In [254]:
df.to_csv('df_sum_driv_score.csv', index= False )

# —ç–∫—Å–ø–æ—Ä—Ç –æ—Ç—á–µ—Ç–∞ –≤ —Ñ–∞–π–ª