# Lesson 7 ex

### Task_1: ⭐️ 

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас:

    from io import BytesIO
    import requests

    req = requests.get(your_link)
    data = req.content
    df = pd.read_csv(BytesIO(data))

In [3]:
import pandas as pd
import numpy as np

from io import BytesIO
import requests


import json
from urllib.parse import urlencode

In [6]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'

In [7]:
req = requests.get(link)

data = req.content

df = pd.read_csv(BytesIO(data))
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [9]:
df['percent'] = (df.users / df.users.sum() * 100).round(0)
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

In [11]:
#  вариант 2

df.users.div(df.users.sum())\
        .mul(100)\
        .round(0)

# div() - деление
# mul() - умножение

0    52.0
1    41.0
2     7.0
Name: users, dtype: float64

In [26]:
#  вариант 3
(df.loc[1, 'users'] / df.users.sum() *100).round(0)

41.0

### Task_2:
Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). 
При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

Может понадобиться:

    str.contains()

In [27]:
path = 'C:/Users/user/Karpov_courses/Lessons/Lesson_7/karpov_courses_test.csv'

In [28]:
df_2 = pd.read_csv(path)
df_2.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [31]:
df_2.browser.str.contains('Chrome') & (df_2.user_type == 'Robots')

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
dtype: bool

In [32]:
chrome_robots = pd.Series(np.where((df_2.browser.str.contains('Chrome')) & (df_2.user_type == 'Robots'), 'Chrome Robots', 'NOT Chrome Robots'))
chrome_robots

0     NOT Chrome Robots
1     NOT Chrome Robots
2         Chrome Robots
3     NOT Chrome Robots
4     NOT Chrome Robots
5     NOT Chrome Robots
6     NOT Chrome Robots
7     NOT Chrome Robots
8     NOT Chrome Robots
9     NOT Chrome Robots
10    NOT Chrome Robots
11    NOT Chrome Robots
12    NOT Chrome Robots
13    NOT Chrome Robots
14    NOT Chrome Robots
15    NOT Chrome Robots
16    NOT Chrome Robots
17    NOT Chrome Robots
18    NOT Chrome Robots
19        Chrome Robots
20    NOT Chrome Robots
21    NOT Chrome Robots
22    NOT Chrome Robots
23    NOT Chrome Robots
dtype: object

In [29]:
chrome_robots = pd.Series(np.where((df_2.browser.str.contains('Chrome')) & (df_2.user_type == 'Robots'), 1, 0))
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int32

In [36]:
df_2.user_type.head()

0    People
1    People
2    Robots
3    People
4    People
Name: user_type, dtype: object

In [33]:
# замена выводящихся данных как rename

# создание словаря для замены - соответствия
correspondence = {'People' : 'Humans',
                  'Robots' : 'Bots'}

In [38]:
df_2.user_type.map(correspondence).head()
# метод map() - заменяет занчения по условию

0    Humans
1    Humans
2      Bots
3    Humans
4    Humans
Name: user_type, dtype: object

### Task_3:
⭐️Задание со звёздочкой!⭐️

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

    ad_id – id объявления
    user_id – id пользователя
    click_type – тип клика (клик по заголовку объявления, клик по центру)

In [39]:
path_2 = 'C:/Users/user/Karpov_courses/Lessons/Lesson_7/sample_ads.csv'

In [40]:
df_3 = pd.read_csv(path_2)
df_3.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [44]:
# вариант с '~' - тильда, это вывести обратное значение выполняемому
not_nan_count = (~df_3.click_type.isna()).sum()
not_nan_count

11

In [45]:
# вариант 2
not_nan_count = df_3.click_type.notna().sum()
not_nan_count

11

### Task_4:
⭐️Задание со звёздочкой!⭐️

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
если это получилось – добавьте преобразованное значение в список new_list

In [56]:
lst = [None, 1134235, 'лавлал', '98985349', '13.0', 9439, -31.12, 0]

In [55]:
# конструкция try/except - для кода, с возможным возникновением ошибки
try:
    # код, в котором возможно появление ошибки. ПР: число/0 - ошибка (бесконечность)  
except:
    # код, который выполняется при появлении ошибки в 'try'


pass # команда - "пропуск, ничего делать не нужно"

In [57]:
new_list = []
for item in lst:
    
    try:
        int_item = int(item)
        new_list.append(int_item)
    
    except:
        pass

new_list

[1134235, 98985349, 9439, -31, 0]

### Task_5:
⭐️Задание со звёздочкой! ⭐️

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [ ]:
with open('...###.json') as src: 
    data = json.load(src)
    
# data - сохраненный файл с token и chat_id личного чата с пользователя с ботом

In [ ]:
token   = data['token']
chat_id = data['chat_id']

In [ ]:
massage  = 'massage for bot for me' 

params   = {'chat_id' : chat_id, 'text' : massage}

base_url = f'https://api.telegram.org/bot{token}'

url      = base_url + 'sendMessage?' + urlencode(params)

resp     = requests.get(url)